# Part 1

## Filtering/Cleaning

In [1]:
import pandas as pd
import numpy as np

In [2]:
# example making new folder with os
import os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

['.ipynb_checkpoints',
 'title.akas.csv.gz',
 'title.basics.csv.gz',
 'title.ratings.csv.gz']

### Title Basics

In [3]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [4]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9813254 entries, 0 to 9813253
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 673.8+ MB

#### Replace "\N" with np.nan

In [5]:
basics['runtimeMinutes']= basics['runtimeMinutes'].replace('')

In [6]:
basics = basics.replace({'\\N':np.nan})

#### Eliminate movies that are null for runtimeMinutes and genre

In [7]:
basics.dropna(subset =['runtimeMinutes','genres'], inplace= True)

In [8]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

#### Keep only titleType == Movie

In [9]:
basics_mov = basics[basics['titleType']== 'movie']
basics_mov.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,NaN,100,"Documentary,News,Sport"
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"

#### keep startYear 2000-2022

In [10]:
basics_mov['startYear'].value_counts()

2017    14366
2018    14320
2019    14054
2016    13950
2015    13475
        ...
1904        1
1897        1
1896        1
2026        1
1894        1
Name: startYear, Length: 130, dtype: int64

In [11]:
basics_mov = basics_mov.astype({"startYear": float})
basics_mov.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 381625 entries, 8 to 9813204
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          381625 non-null  object
 1   titleType       381625 non-null  object
 2   primaryTitle    381625 non-null  object
 3   originalTitle   381625 non-null  object
 4   isAdult         381625 non-null  object
 5   startYear       375197 non-null  float64
 6   endYear         0 non-null       object
 7   runtimeMinutes  381625 non-null  object
 8   genres          381625 non-null  object
dtypes: float64(1), object(8)
memory usage: 29.1+ MB

In [12]:
basics_year = basics_mov.loc[(basics_mov['startYear'] >= 2000) & (basics_mov['startYear'] <= 2022)]
basics_year

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
13082,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021.0,NaN,94,Documentary
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61116,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67669,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
76059,tt0077684,movie,Histórias de Combóios em Portugal,Histórias de Combóios em Portugal,0,2022.0,NaN,46,Documentary
...,...,...,...,...,...,...,...,...,...
9813020,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"
9813104,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019.0,NaN,123,Drama
9813145,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015.0,NaN,57,Documentary
9813172,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007.0,NaN,100,Documentary
9813204,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013.0,NaN,49,Documentary

#### Eliminate movies that include "Documentary" in genre

In [13]:
doc = basics_year['genres'].str.contains('Documentary',case=False)
basics_doc = basics_year[~doc]

In [14]:
basics_doc.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61116,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67669,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
77964,tt0079644,movie,November 1828,November 1828,0,2001.0,NaN,140,"Drama,War"
86801,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"

In [15]:
basics_doc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 147375 entries, 34803 to 9813104
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          147375 non-null  object
 1   titleType       147375 non-null  object
 2   primaryTitle    147375 non-null  object
 3   originalTitle   147375 non-null  object
 4   isAdult         147375 non-null  object
 5   startYear       147375 non-null  float64
 6   endYear         0 non-null       object
 7   runtimeMinutes  147375 non-null  object
 8   genres          147375 non-null  object
dtypes: float64(1), object(8)
memory usage: 11.2+ MB

In [16]:
## Save current dataframe to file.
basics_doc.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [17]:
basics_f = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics_f.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0079644,movie,November 1828,November 1828,0,2001.0,NaN,140,"Drama,War"
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"

### AKA

#### keep only US movies

In [18]:
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)

In [19]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [22]:
akas_us = akas[akas['region']== 'US']
akas_us.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,\N,imdbDisplay,\N,0
14,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,\N,imdbDisplay,\N,0
36,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0
41,tt0000005,6,Blacksmith Scene #1,US,\N,alternative,\N,0

#### Replace '\N' with np.nan

In [23]:
akas_us = akas_us.replace({'\\N':np.nan})

In [24]:
akas_us.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0

In [25]:
akas_us.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1433441 entries, 5 to 35747357
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1433441 non-null  object
 1   ordering         1433441 non-null  int64
 2   title            1433441 non-null  object
 3   region           1433441 non-null  object
 4   language         3893 non-null     object
 5   types            978268 non-null   object
 6   attributes       46479 non-null    object
 7   isOriginalTitle  1432096 non-null  object
dtypes: int64(1), object(7)
memory usage: 98.4+ MB

In [26]:
## Save current dataframe to file.
akas_us.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)

In [27]:
# Open saved file and preview again
akas_f = pd.read_csv("Data/title_akas.csv.gz", low_memory = False)
akas_f.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0

### Ratings

In [28]:
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)

In [30]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1966
1  tt0000002            5.8       264
2  tt0000003            6.5      1810
3  tt0000004            5.6       178
4  tt0000005            6.2      2610

#### Replace '\N' with np.nan

In [31]:
ratings = ratings.replace({'\\N':np.nan})

In [32]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1306529 entries, 0 to 1306528
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1306529 non-null  object
 1   averageRating  1306529 non-null  float64
 2   numVotes       1306529 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 29.9+ MB

In [33]:
## Save current dataframe to file.
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [34]:
# Open saved file and preview again
ratings_f = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
ratings_f.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1966
1  tt0000002            5.8       264
2  tt0000003            6.5      1810
3  tt0000004            5.6       178
4  tt0000005            6.2      2610

### Filtered one dataset with another

In [35]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =ratings_f['tconst'].isin(akas_f['titleId'])
keepers

0           True
1           True
2          False
3          False
4           True
           ...
1306524    False
1306525    False
1306526    False
1306527    False
1306528    False
Name: tconst, Length: 1306529, dtype: bool

In [36]:
basics_n = basics_f.loc[keepers]
basics_n

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
5,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama
6,tt0100275,movie,The Wandering Soap Opera,La Telenovela Errante,0,2017.0,NaN,80,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...,...,...,...
147345,tt9908636,movie,Das Spiel der Hoffnung,Das Spiel der Hoffnung,0,2017.0,NaN,100,Fantasy
147348,tt9909650,movie,Hellbiro,Hellbiro,0,2018.0,NaN,95,Comedy
147349,tt9909938,movie,Xenosaga,Xenosaga,0,2005.0,NaN,288,Sci-Fi
147352,tt9910238,movie,Be 5min. vede,Be 5min. vede,0,2017.0,NaN,80,"Comedy,Romance"
147373,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"

## Data was collected from TMBD
https://www.themoviedb.org/about/logos-attribution