# Part 1

In [1]:
import pandas as pd
import numpy as np

In [2]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [3]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [4]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9811401 entries, 0 to 9811400
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 673.7+ MB

## Filtering/Cleaning

### Title Basics

#### Replace "\N" with np.nan

In [5]:
basics['runtimeMinutes']= basics['runtimeMinutes'].replace('')

In [6]:
basics = basics.replace({'\\N':np.nan})

#### Eliminate movies that are null for runtimeMinutes and genre

In [7]:
basics.dropna(subset =['runtimeMinutes','genres'], inplace= True)

In [8]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

#### Keep only titleType == Movie

In [9]:
basics_mov = basics[basics['titleType']== 'movie']
basics_mov.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,NaN,100,"Documentary,News,Sport"
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"

#### keep startYear 2000-2022

In [10]:
basics_mov['startYear'].value_counts()

2017    14367
2018    14322
2019    14056
2016    13950
2015    13476
        ...
1904        1
1897        1
1896        1
2026        1
1894        1
Name: startYear, Length: 130, dtype: int64

In [11]:
basics_year = basics_mov.loc[(basics_mov['startYear'] >= '2000') & (basics_mov['startYear'] <= '2022')]
basics_year

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
13082,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021,NaN,94,Documentary
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61116,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
67669,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
76059,tt0077684,movie,Histórias de Combóios em Portugal,Histórias de Combóios em Portugal,0,2022,NaN,46,Documentary
...,...,...,...,...,...,...,...,...,...
9811167,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"
9811251,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,NaN,123,Drama
9811292,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,NaN,57,Documentary
9811319,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,NaN,100,Documentary
9811351,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,NaN,49,Documentary

#### Eliminate movies that include "Documentary" in genre

In [12]:
doc = basics_year['genres'].str.contains('Documentary',case=False)
basics_doc = basics_year[~doc]

In [13]:
basics_doc.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61116,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
67669,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
77964,tt0079644,movie,November 1828,November 1828,0,2001,NaN,140,"Drama,War"
86801,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"

In [14]:
basics_doc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 147367 entries, 34803 to 9811251
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          147367 non-null  object
 1   titleType       147367 non-null  object
 2   primaryTitle    147367 non-null  object
 3   originalTitle   147367 non-null  object
 4   isAdult         147367 non-null  object
 5   startYear       147367 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  147367 non-null  object
 8   genres          147367 non-null  object
dtypes: object(9)
memory usage: 11.2+ MB

### AKA

#### keep only US movies

In [15]:
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)

In [16]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [17]:
akas_us = akas[akas['region']== 'US']
akas_us.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,\N,imdbDisplay,\N,0
14,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,\N,imdbDisplay,\N,0
36,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0
41,tt0000005,6,Blacksmith Scene #1,US,\N,alternative,\N,0

#### Replace '\N' with np.nan

In [18]:
akas_us = akas_us.replace({'\\N':np.nan})

In [19]:
akas_us.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0

In [20]:
akas_us.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1433173 entries, 5 to 35743985
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1433173 non-null  object
 1   ordering         1433173 non-null  int64
 2   title            1433173 non-null  object
 3   region           1433173 non-null  object
 4   language         3893 non-null     object
 5   types            978227 non-null   object
 6   attributes       46470 non-null    object
 7   isOriginalTitle  1431828 non-null  object
dtypes: int64(1), object(7)
memory usage: 98.4+ MB

### Ratings

In [21]:
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)

In [22]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1966
1  tt0000002            5.8       263
2  tt0000003            6.5      1808
3  tt0000004            5.6       178
4  tt0000005            6.2      2607

#### Replace '\N' with np.nan

In [23]:
ratings = ratings.replace({'\\N':np.nan})

In [24]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1306416 entries, 0 to 1306415
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1306416 non-null  object
 1   averageRating  1306416 non-null  float64
 2   numVotes       1306416 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 29.9+ MB

### Filtered one dataset with another

In [25]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics_doc['tconst'].isin(akas_us['titleId'])
keepers

34803       True
61116       True
67669       True
77964      False
86801       True
           ...
9811074     True
9811083     True
9811122    False
9811167     True
9811251    False
Name: tconst, Length: 147367, dtype: bool

In [26]:
basics = basics_doc[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61116,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
67669,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
86801,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
93938,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,NaN,126,Drama
...,...,...,...,...,...,...,...,...,...
9810539,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,NaN,74,Drama
9810934,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy"
9811074,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama
9811083,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller"
9811167,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"

## Data was collected from TMBD
https://www.themoviedb.org/about/logos-attribution