## Basics data frame

In [3]:
import pandas as pd
# load data - change the path to match your drive!
basics = pd.read_csv('Data/title_basics.csv.gz')
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147425 entries, 0 to 147424
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          147425 non-null  object
 1   titleType       147425 non-null  object
 2   primaryTitle    147425 non-null  object
 3   originalTitle   147425 non-null  object
 4   isAdult         147425 non-null  int64
 5   startYear       147425 non-null  float64
 6   endYear         0 non-null       float64
 7   runtimeMinutes  147425 non-null  int64
 8   genres          147425 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 10.1+ MB

### Removing unwanted columns from Basics

In [4]:
basics = basics.drop(columns=['titleType', 'originalTitle','isAdult','endYear'])
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147425 entries, 0 to 147424
Data columns (total 5 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          147425 non-null  object
 1   primaryTitle    147425 non-null  object
 2   startYear       147425 non-null  float64
 3   runtimeMinutes  147425 non-null  int64
 4   genres          147425 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 5.6+ MB

### Changing the name of column 'tconst' to Movie_ID

In [5]:
basics = basics.rename(columns ={'tconst':'Movie_ID'})
basics.info()
basics.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147425 entries, 0 to 147424
Data columns (total 5 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Movie_ID        147425 non-null  object
 1   primaryTitle    147425 non-null  object
 2   startYear       147425 non-null  float64
 3   runtimeMinutes  147425 non-null  int64
 4   genres          147425 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 5.6+ MB

,Movie_ID,primaryTitle,startYear,runtimeMinutes,genres
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70,Drama
2,tt0069049,The Other Side of the Wind,2018.0,122,Drama
3,tt0079644,November 1828,2001.0,140,"Drama,War"
4,tt0088751,The Naked Monster,2005.0,100,"Comedy,Horror,Sci-Fi"

In [6]:
## get the unique ids
unique_basics = sorted(basics['Movie_ID'].unique())
unique_basics[:2]

['tt0035423', 'tt0062336']

In [7]:
## make integers for each id
int_basics = range(len(unique_basics))
int_basics

range(0, 147425)

In [8]:
## Converting our range to a list and showing the first 10 values
example_range = list(int_basics)
example_range[:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
# Zip together the unique_ids as the keys and the int_ids as the values
id_map = dict(zip(unique_basics,int_basics))
id_map

{'tt0035423': 0,
 'tt0062336': 1,
 'tt0069049': 2,
 'tt0079644': 3,
 'tt0088751': 4,
 'tt0096056': 5,
 'tt0100275': 6,
 'tt0102362': 7,
 'tt0103340': 8,
 'tt0108549': 9,
 'tt0110476': 10,
 'tt0111414': 11,
 'tt0112912': 12,
 'tt0113026': 13,
 'tt0113092': 14,
 'tt0114447': 15,
 'tt0114722': 16,
 'tt0115686': 17,
 'tt0115937': 18,
 'tt0116391': 19,
 'tt0116628': 20,
 'tt0116748': 21,
 'tt0116916': 22,
 'tt0116991': 23,
 'tt0117743': 24,
 'tt0118141': 25,
 'tt0118578': 26,
 'tt0118589': 27,
 'tt0118652': 28,
 'tt0118694': 29,
 'tt0118710': 30,
 'tt0118852': 31,
 'tt0118926': 32,
 'tt0119004': 33,
 'tt0119231': 34,
 'tt0119273': 35,
 'tt0119495': 36,
 'tt0119727': 37,
 'tt0119806': 38,
 'tt0119830': 39,
 'tt0119866': 40,
 'tt0119966': 41,
 'tt0119970': 42,
 'tt0119980': 43,
 'tt0120117': 44,
 'tt0120166': 45,
 'tt0120202': 46,
 'tt0120263': 47,
 'tt0120467': 48,
 'tt0120485': 49,
 'tt0120589': 50,
 'tt0120607': 51,
 'tt0120624': 52,
 'tt0120626': 53,
 'tt0120630': 54,
 'tt0120667': 55,
 'tt0120673': 56,
 'tt0120679': 57,
 'tt0120681': 58,
 'tt0120698': 59,
 'tt0120733': 60,
 'tt0120737': 61,
 'tt0120753': 62,
 'tt0120755': 63,
 'tt0120804': 64,
 'tt0120807': 65,
 'tt0120824': 66,
 'tt0120903': 67,
 'tt0120912': 68,
 'tt0120913': 69,
 'tt0120917': 70,
 'tt0121164': 71,
 'tt0121765': 72,
 'tt0121766': 73,
 'tt0122161': 74,
 'tt0122247': 75,
 'tt0122459': 76,
 'tt0123003': 77,
 'tt0123055': 78,
 'tt0123581': 79,
 'tt0124889': 80,
 'tt0125022': 81,
 'tt0125742': 82,
 'tt0126029': 83,
 'tt0126899': 84,
 'tt0127349': 85,
 'tt0128154': 86,
 'tt0128158': 87,
 'tt0128165': 88,
 'tt0128216': 89,
 'tt0130623': 90,
 'tt0131597': 91,
 'tt0131704': 92,
 'tt0132078': 93,
 'tt0132245': 94,
 'tt0132885': 95,
 'tt0132910': 96,
 'tt0133063': 97,
 'tt0133152': 98,
 'tt0133240': 99,
 'tt0133752': 100,
 'tt0134084': 101,
 'tt0134630': 102,
 'tt0134847': 103,
 'tt0134983': 104,
 'tt0135707': 105,
 'tt0135991': 106,
 'tt0136517': 107,
 'tt0137204': 108,
 'tt0137698': 109,
 'tt0138288': 110,
 'tt0138353': 111,
 'tt0138524': 112,
 'tt0138583': 113,
 'tt0138631': 114,
 'tt0138749': 115,
 'tt0138818': 116,
 'tt0138927': 117,
 'tt0138946': 118,
 'tt0139159': 119,
 'tt0139297': 120,
 'tt0139388': 121,
 'tt0139500': 122,
 'tt0139654': 123,
 'tt0140806': 124,
 'tt0141120': 125,
 'tt0141399': 126,
 'tt0141907': 127,
 'tt0141926': 128,
 'tt0142634': 129,
 'tt0142650': 130,
 'tt0143344': 131,
 'tt0143558': 132,
 'tt0144084': 133,
 'tt0144142': 134,
 'tt0144280': 135,
 'tt0144449': 136,
 'tt0144528': 137,
 'tt0144574': 138,
 'tt0144608': 139,
 'tt0144964': 140,
 'tt0145467': 141,
 'tt0145487': 142,
 'tt0146063': 143,
 'tt0146272': 144,
 'tt0146309': 145,
 'tt0146316': 146,
 'tt0146592': 147,
 'tt0146803': 148,
 'tt0146882': 149,
 'tt0146984': 150,
 'tt0147447': 151,
 'tt0147486': 152,
 'tt0148415': 153,
 'tt0148421': 154,
 'tt0149253': 155,
 'tt0149367': 156,
 'tt0149624': 157,
 'tt0150021': 158,
 'tt0151150': 159,
 'tt0151299': 160,
 'tt0151309': 161,
 'tt0151685': 162,
 'tt0152083': 163,
 'tt0152772': 164,
 'tt0153012': 165,
 'tt0153100': 166,
 'tt0153140': 167,
 'tt0153464': 168,
 'tt0153516': 169,
 'tt0153517': 170,
 'tt0153533': 171,
 'tt0154039': 172,
 'tt0154187': 173,
 'tt0155150': 174,
 'tt0156020': 175,
 'tt0156100': 176,
 'tt0156323': 177,
 'tt0156376': 178,
 'tt0156741': 179,
 'tt0156757': 180,
 'tt0156807': 181,
 'tt0156812': 182,
 'tt0156841': 183,
 'tt0156942': 184,
 'tt0157007': 185,
 'tt0157122': 186,
 'tt0157191': 187,
 'tt0157202': 188,
 'tt0157262': 189,
 'tt0157472': 190,
 'tt0157583': 191,
 'tt0157836': 192,
 'tt0158033': 193,
 'tt0158581': 194,
 'tt0158622': 195,
 'tt0158871': 196,
 'tt0159273': 197,
 'tt0159290': 198,
 'tt0159291': 199,
 'tt0159365': 200,
 'tt0159371': 201,
 'tt0159378': 202,
 'tt0159396': 203,
 'tt0159784': 204,
 'tt0160009': 205,
 'tt0160127': 206,
 'tt0160184': 207,
 'tt0160239': 208,
 'tt0160240': 209,
 'tt0160256': 210,
 'tt0160261': 211,
 'tt0160270': 212,
 'tt0160275': 213,
 'tt0160289': 214,
 'tt0160399': 215,
 'tt0160403': 216,
 'tt0160425': 217,
 'tt0160434': 218,
 'tt0160447': 219,
 'tt0160480': 220,
 'tt0160484': 221,
 'tt0160495': 222,
 'tt0160547': 223,
 'tt0160550': 224,
 'tt0160611': 225,
 'tt0160616': 226,
 'tt0160644': 227,
 'tt0160652': 228,
 'tt0160663': 229,
 'tt0160706': 230,
 'tt0160710': 231,
 'tt0160749': 232,
 'tt0160751': 233,
 'tt0160759': 234,
 'tt0160797': 235,
 'tt0160859': 236,
 'tt0160870': 237,
 'tt0160905': 238,
 'tt0161003': 239,
 'tt0161081': 240,
 'tt0161083': 241,
 'tt0161088': 242,
 'tt0161216': 243,
 'tt0161539': 244,
 'tt0161860': 245,
 'tt0162030': 246,
 'tt0162203': 247,
 'tt0162222': 248,
 'tt0162346': 249,
 'tt0162650': 250,
 'tt0162711': 251,
 'tt0162838': 252,
 'tt0162862': 253,
 'tt0162901': 254,
 'tt0162942': 255,
 'tt0162983': 256,
 'tt0163025': 257,
 'tt0163080': 258,
 'tt0163125': 259,
 'tt0163141': 260,
 'tt0163246': 261,
 'tt0163566': 262,
 'tt0163596': 263,
 'tt0163676': 264,
 'tt0163745': 265,
 'tt0163764': 266,
 'tt0163978': 267,
 'tt0163983': 268,
 'tt0164003': 269,
 'tt0164052': 270,
 'tt0164182': 271,
 'tt0164184': 272,
 'tt0164192': 273,
 'tt0164212': 274,
 'tt0164318': 275,
 'tt0164334': 276,
 'tt0164545': 277,
 'tt0164810': 278,
 'tt0164953': 279,
 'tt0164961': 280,
 'tt0165361': 281,
 'tt0165400': 282,
 'tt0165452': 283,
 'tt0165642': 284,
 'tt0165713': 285,
 'tt0165800': 286,
 'tt0165832': 287,
 'tt0165928': 288,
 'tt0165929': 289,
 'tt0165982': 290,
 'tt0166013': 291,
 'tt0166110': 292,
 'tt0166158': 293,
 'tt0166186': 294,
 'tt0166192': 295,
 'tt0166276': 296,
 'tt0166339': 297,
 'tt0166370': 298,
 'tt0166709': 299,
 'tt0166813': 300,
 'tt0166871': 301,
 'tt0166924': 302,
 'tt0167116': 303,
 'tt0167183': 304,
 'tt0167190': 305,
 'tt0167203': 306,
 'tt0167260': 307,
 'tt0167261': 308,
 'tt0167360': 309,
 'tt0167380': 310,
 'tt0167456': 311,
 'tt0167936': 312,
 'tt0168446': 313,
 'tt0168504': 314,
 'tt0168509': 315,
 'tt0168578': 316,
 'tt0168612': 317,
 'tt0168629': 318,
 'tt0168631': 319,
 'tt0168714': 320,
 'tt0168786': 321,
 'tt0168847': 322,
 'tt0168856': 323,
 'tt0169102': 324,
 'tt0169122': 325,
 'tt0169324': 326,
 'tt0169543': 327,
 'tt0169579': 328,
 'tt0170008': 329,
 'tt0170016': 330,
 'tt0170367': 331,
 'tt0170452': 332,
 'tt0170508': 333,
 'tt0170517': 334,
 'tt0170691': 335,
 'tt0171126': 336,
 'tt0171339': 337,
 'tt0171356': 338,
 'tt0171359': 339,
 'tt0171433': 340,
 'tt0171580': 341,
 'tt0171827': 342,
 'tt0171928': 343,
 'tt0172109': 344,
 'tt0172156': 345,
 'tt0172160': 346,
 'tt0172182': 347,
 'tt0172464': 348,
 'tt0172495': 349,
 'tt0172543': 350,
 'tt0172632': 351,
 'tt0172693': 352,
 'tt0172699': 353,
 'tt0172794': 354,
 'tt0172854': 355,
 'tt0172949': 356,
 'tt0172995': 357,
 'tt0173042': 358,
 'tt0173498': 359,
 'tt0173568': 360,
 'tt0173716': 361,
 'tt0173840': 362,
 'tt0173999': 363,
 'tt0174027': 364,
 'tt0174336': 365,
 'tt0174480': 366,
 'tt0174646': 367,
 'tt0174732': 368,
 'tt0175114': 369,
 'tt0175142': 370,
 'tt0175203': 371,
 'tt0175526': 372,
 'tt0175557': 373,
 'tt0176185': 374,
 'tt0176244': 375,
 'tt0176578': 376,
 'tt0176579': 377,
 'tt0176694': 378,
 'tt0176783': 379,
 'tt0176883': 380,
 'tt0177068': 381,
 'tt0177185': 382,
 'tt0177195': 383,
 'tt0177213': 384,
 'tt0177513': 385,
 'tt0177636': 386,
 'tt0177650': 387,
 'tt0177845': 388,
 'tt0177858': 389,
 'tt0177882': 390,
 'tt0177885': 391,
 'tt0177888': 392,
 'tt0177971': 393,
 'tt0177997': 394,
 'tt0178043': 395,
 'tt0178050': 396,
 'tt0178642': 397,
 'tt0178655': 398,
 'tt0178866': 399,
 'tt0179098': 400,
 'tt0179137': 401,
 'tt0179144': 402,
 'tt0179183': 403,
 'tt0179344': 404,
 'tt0179400': 405,
 'tt0179435': 406,
 'tt0179443': 407,
 'tt0179473': 408,
 'tt0179626': 409,
 'tt0179653': 410,
 'tt0179677': 411,
 'tt0179735': 412,
 'tt0179803': 413,
 'tt0179861': 414,
 'tt0179987': 415,
 'tt0180052': 416,
 'tt0180073': 417,
 'tt0180093': 418,
 'tt0180273': 419,
 'tt0180679': 420,
 'tt0180683': 421,
 'tt0180734': 422,
 'tt0180837': 423,
 'tt0180894': 424,
 'tt0181151': 425,
 'tt0181311': 426,
 'tt0181317': 427,
 'tt0181430': 428,
 'tt0181536': 429,
 'tt0181548': 430,
 'tt0181689': 431,
 'tt0181739': 432,
 'tt0181819': 433,
 'tt0181836': 434,
 'tt0181852': 435,
 'tt0181865': 436,
 'tt0181875': 437,
 'tt0181912': 438,
 'tt0181945': 439,
 'tt0181984': 440,
 'tt0182000': 441,
 'tt0182027': 442,
 'tt0182295': 443,
 'tt0182508': 444,
 'tt0183056': 445,
 'tt0183113': 446,
 'tt0183142': 447,
 'tt0183280': 448,
 'tt0183423': 449,
 'tt0183488': 450,
 'tt0183505': 451,
 'tt0183523': 452,
 'tt0183550': 453,
 'tt0183639': 454,
 'tt0183649': 455,
 'tt0183659': 456,
 'tt0183790': 457,
 'tt0183808': 458,
 'tt0183869': 459,
 'tt0183946': 460,
 'tt0184009': 461,
 'tt0184387': 462,
 'tt0184457': 463,
 'tt0184596': 464,
 'tt0184719': 465,
 'tt0184791': 466,
 'tt0184849': 467,
 'tt0184858': 468,
 'tt0184894': 469,
 'tt0184907': 470,
 'tt0185007': 471,
 'tt0185014': 472,
 'tt0185170': 473,
 'tt0185183': 474,
 'tt0185215': 475,
 'tt0185431': 476,
 'tt0185542': 477,
 'tt0186029': 478,
 'tt0186045': 479,
 'tt0186151': 480,
 'tt0186183': 481,
 'tt0186202': 482,
 'tt0186221': 483,
 'tt0186454': 484,
 'tt0186549': 485,
 'tt0186566': 486,
 'tt0186589': 487,
 'tt0186719': 488,
 'tt0186785': 489,
 'tt0186894': 490,
 'tt0186895': 491,
 'tt0186975': 492,
 'tt0187078': 493,
 'tt0187279': 494,
 'tt0187387': 495,
 'tt0187393': 496,
 'tt0187474': 497,
 'tt0187512': 498,
 'tt0187559': 499,
 'tt0187696': 500,
 'tt0187738': 501,
 'tt0187750': 502,
 'tt0187761': 503,
 'tt0187847': 504,
 'tt0187880': 505,
 'tt0188045': 506,
 'tt0188055': 507,
 'tt0188128': 508,
 'tt0188135': 509,
 'tt0188160': 510,
 'tt0188453': 511,
 'tt0188490': 512,
 'tt0188518': 513,
 'tt0188575': 514,
 'tt0188613': 515,
 'tt0188688': 516,
 'tt0189192': 517,
 'tt0189456': 518,
 'tt0189509': 519,
 'tt0189541': 520,
 'tt0189856': 521,
 'tt0189960': 522,
 'tt0189998': 523,
 'tt0190052': 524,
 'tt0190138': 525,
 'tt0190273': 526,
 'tt0190332': 527,
 'tt0190346': 528,
 'tt0190374': 529,
 'tt0190398': 530,
 'tt0190449': 531,
 'tt0190524': 532,
 'tt0190590': 533,
 'tt0190736': 534,
 'tt0190861': 535,
 'tt0190865': 536,
 'tt0190938': 537,
 'tt0190975': 538,
 'tt0190994': 539,
 'tt0191037': 540,
 'tt0191074': 541,
 'tt0191133': 542,
 'tt0191161': 543,
 'tt0191177': 544,
 'tt0191211': 545,
 'tt0191242': 546,
 'tt0191352': 547,
 'tt0191397': 548,
 'tt0191636': 549,
 'tt0191754': 550,
 'tt0191787': 551,
 'tt0191865': 552,
 'tt0191996': 553,
 'tt0192023': 554,
 'tt0192071': 555,
 'tt0192110': 556,
 'tt0192111': 557,
 'tt0192126': 558,
 'tt0192237': 559,
 'tt0192255': 560,
 'tt0192295': 561,
 'tt0192346': 562,
 'tt0192407': 563,
 'tt0192455': 564,
 'tt0192528': 565,
 'tt0192614': 566,
 'tt0192678': 567,
 'tt0192719': 568,
 'tt0192731': 569,
 'tt0192788': 570,
 'tt0192789': 571,
 'tt0192912': 572,
 'tt0192947': 573,
 'tt0192949': 574,
 'tt0193011': 575,
 'tt0193135': 576,
 'tt0193318': 577,
 'tt0193364': 578,
 'tt0193365': 579,
 'tt0193537': 580,
 'tt0193545': 581,
 'tt0193560': 582,
 'tt0193598': 583,
 'tt0193701': 584,
 'tt0193741': 585,
 'tt0193854': 586,
 'tt0193859': 587,
 'tt0194026': 588,
 'tt0194027': 589,
 'tt0194104': 590,
 'tt0194218': 591,
 'tt0194357': 592,
 'tt0194368': 593,
 'tt0194410': 594,
 'tt0194519': 595,
 'tt0194704': 596,
 'tt0194811': 597,
 'tt0194852': 598,
 'tt0195001': 599,
 'tt0195108': 600,
 'tt0195119': 601,
 'tt0195234': 602,
 'tt0195308': 603,
 'tt0195352': 604,
 'tt0195393': 605,
 'tt0195551': 606,
 'tt0195631': 607,
 'tt0195685': 608,
 'tt0195714': 609,
 'tt0195778': 610,
 'tt0195857': 611,
 'tt0195860': 612,
 'tt0195944': 613,
 'tt0195945': 614,
 'tt0196068': 615,
 'tt0196069': 616,
 'tt0196106': 617,
 'tt0196158': 618,
 'tt0196186': 619,
 'tt0196216': 620,
 'tt0196219': 621,
 'tt0196223': 622,
 'tt0196229': 623,
 'tt0196614': 624,
 'tt0196708': 625,
 'tt0196723': 626,
 'tt0196811': 627,
 'tt0196927': 628,
 'tt0197072': 629,
 'tt0197096': 630,
 'tt0197219': 631,
 'tt0197299': 632,
 'tt0197311': 633,
 'tt0197384': 634,
 'tt0197392': 635,
 'tt0197402': 636,
 'tt0197448': 637,
 'tt0197633': 638,
 'tt0197644': 639,
 'tt0197646': 640,
 'tt0197740': 641,
 'tt0197750': 642,
 'tt0197753': 643,
 'tt0197858': 644,
 'tt0197862': 645,
 'tt0197929': 646,
 'tt0197951': 647,
 'tt0197996': 648,
 'tt0198013': 649,
 'tt0198021': 650,
 'tt0198284': 651,
 'tt0198386': 652,
 'tt0198434': 653,
 'tt0198460': 654,
 'tt0198654': 655,
 'tt0198748': 656,
 'tt0198781': 657,
 'tt0198893': 658,
 'tt0198903': 659,
 'tt0199000': 660,
 'tt0199007': 661,
 'tt0199077': 662,
 'tt0199129': 663,
 'tt0199290': 664,
 'tt0199305': 665,
 'tt0199314': 666,
 'tt0199481': 667,
 'tt0199504': 668,
 'tt0199602': 669,
 'tt0199626': 670,
 'tt0199650': 671,
 'tt0199696': 672,
 'tt0199700': 673,
 'tt0199725': 674,
 'tt0199727': 675,
 'tt0199733': 676,
 'tt0199744': 677,
 'tt0199748': 678,
 'tt0199753': 679,
 'tt0199898': 680,
 'tt0199974': 681,
 'tt0200027': 682,
 'tt0200171': 683,
 'tt0200191': 684,
 'tt0200192': 685,
 'tt0200257': 686,
 'tt0200299': 687,
 'tt0200422': 688,
 'tt0200427': 689,
 'tt0200465': 690,
 'tt0200472': 691,
 'tt0200483': 692,
 'tt0200525': 693,
 'tt0200530': 694,
 'tt0200550': 695,
 'tt0200669': 696,
 'tt0200720': 697,
 'tt0200940': 698,
 'tt0200954': 699,
 'tt0201020': 700,
 'tt0201275': 701,
 'tt0201394': 702,
 'tt0201479': 703,
 'tt0201484': 704,
 'tt0201485': 705,
 'tt0201670': 706,
 'tt0201694': 707,
 'tt0201726': 708,
 'tt0201737': 709,
 'tt0201844': 710,
 'tt0201888': 711,
 'tt0201899': 712,
 'tt0201901': 713,
 'tt0201934': 714,
 'tt0202236': 715,
 'tt0202256': 716,
 'tt0202294': 717,
 'tt0202314': 718,
 'tt0202316': 719,
 'tt0202360': 720,
 'tt0202402': 721,
 'tt0202405': 722,
 'tt0202452': 723,
 'tt0202457': 724,
 'tt0202458': 725,
 'tt0202464': 726,
 'tt0202470': 727,
 'tt0202487': 728,
 'tt0202502': 729,
 'tt0202560': 730,
 'tt0202623': 731,
 'tt0202641': 732,
 'tt0202677': 733,
 'tt0202695': 734,
 'tt0202711': 735,
 'tt0202829': 736,
 'tt0202856': 737,
 'tt0202989': 738,
 'tt0203009': 739,
 'tt0203019': 740,
 'tt0203047': 741,
 'tt0203053': 742,
 'tt0203078': 743,
 'tt0203119': 744,
 'tt0203144': 745,
 'tt0203166': 746,
 'tt0203206': 747,
 'tt0203230': 748,
 'tt0203289': 749,
 'tt0203297': 750,
 'tt0203536': 751,
 'tt0203540': 752,
 'tt0203580': 753,
 'tt0203584': 754,
 'tt0203632': 755,
 'tt0203755': 756,
 'tt0203830': 757,
 'tt0203835': 758,
 'tt0203912': 759,
 'tt0203940': 760,
 'tt0203952': 761,
 'tt0203975': 762,
 'tt0204055': 763,
 'tt0204137': 764,
 'tt0204140': 765,
 'tt0204175': 766,
 'tt0204250': 767,
 'tt0204313': 768,
 'tt0204315': 769,
 'tt0204322': 770,
 'tt0204350': 771,
 'tt0204352': 772,
 'tt0204382': 773,
 'tt0204414': 774,
 'tt0204619': 775,
 'tt0204626': 776,
 'tt0204640': 777,
 'tt0204679': 778,
 'tt0204698': 779,
 'tt0204700': 780,
 'tt0204761': 781,
 'tt0204885': 782,
 'tt0204932': 783,
 'tt0204933': 784,
 'tt0204946': 785,
 'tt0205027': 786,
 'tt0205177': 787,
 'tt0205271': 788,
 'tt0205380': 789,
 'tt0205418': 790,
 'tt0205461': 791,
 'tt0205498': 792,
 'tt0205521': 793,
 'tt0205526': 794,
 'tt0205718': 795,
 'tt0205729': 796,
 'tt0205738': 797,
 'tt0205778': 798,
 'tt0205836': 799,
 'tt0205873': 800,
 'tt0205936': 801,
 'tt0206068': 802,
 'tt0206075': 803,
 'tt0206087': 804,
 'tt0206088': 805,
 'tt0206093': 806,
 'tt0206098': 807,
 'tt0206113': 808,
 'tt0206128': 809,
 'tt0206184': 810,
 'tt0206200': 811,
 'tt0206211': 812,
 'tt0206223': 813,
 'tt0206226': 814,
 'tt0206275': 815,
 'tt0206314': 816,
 'tt0206324': 817,
 'tt0206351': 818,
 'tt0206367': 819,
 'tt0206420': 820,
 'tt0206545': 821,
 'tt0206608': 822,
 'tt0206634': 823,
 'tt0206670': 824,
 'tt0206694': 825,
 'tt0206742': 826,
 'tt0206762': 827,
 'tt0206778': 828,
 'tt0206795': 829,
 'tt0206806': 830,
 'tt0206866': 831,
 'tt0206917': 832,
 'tt0206926': 833,
 'tt0206963': 834,
 'tt0207002': 835,
 'tt0207036': 836,
 'tt0207051': 837,
 'tt0207130': 838,
 'tt0207161': 839,
 'tt0207163': 840,
 'tt0207198': 841,
 'tt0207201': 842,
 'tt0207296': 843,
 'tt0207333': 844,
 'tt0207337': 845,
 'tt0207377': 846,
 'tt0207501': 847,
 'tt0207524': 848,
 'tt0207585': 849,
 'tt0207631': 850,
 'tt0207635': 851,
 'tt0207638': 852,
 'tt0207745': 853,
 'tt0207826': 854,
 'tt0207988': 855,
 'tt0208003': 856,
 'tt0208017': 857,
 'tt0208026': 858,
 'tt0208032': 859,
 'tt0208037': 860,
 'tt0208050': 861,
 'tt0208092': 862,
 'tt0208181': 863,
 'tt0208196': 864,
 'tt0208198': 865,
 'tt0208204': 866,
 'tt0208298': 867,
 'tt0208412': 868,
 'tt0208491': 869,
 'tt0208655': 870,
 'tt0208675': 871,
 'tt0208870': 872,
 'tt0208874': 873,
 'tt0208883': 874,
 'tt0208889': 875,
 'tt0208899': 876,
 'tt0208910': 877,
 'tt0208911': 878,
 'tt0208942': 879,
 'tt0208988': 880,
 'tt0208990': 881,
 'tt0208993': 882,
 'tt0209020': 883,
 'tt0209037': 884,
 'tt0209077': 885,
 'tt0209109': 886,
 'tt0209144': 887,
 'tt0209163': 888,
 'tt0209180': 889,
 'tt0209253': 890,
 'tt0209279': 891,
 'tt0209322': 892,
 'tt0209464': 893,
 'tt0209475': 894,
 'tt0209485': 895,
 'tt0209486': 896,
 'tt0209941': 897,
 'tt0209958': 898,
 'tt0210065': 899,
 'tt0210070': 900,
 'tt0210075': 901,
 'tt0210094': 902,
 'tt0210149': 903,
 'tt0210217': 904,
 'tt0210223': 905,
 'tt0210299': 906,
 'tt0210357': 907,
 'tt0210358': 908,
 'tt0210362': 909,
 'tt0210382': 910,
 'tt0210470': 911,
 'tt0210471': 912,
 'tt0210480': 913,
 'tt0210567': 914,
 'tt0210584': 915,
 'tt0210616': 916,
 'tt0210738': 917,
 'tt0210756': 918,
 'tt0210776': 919,
 'tt0210816': 920,
 'tt0210884': 921,
 'tt0210890': 922,
 'tt0210930': 923,
 'tt0210943': 924,
 'tt0210945': 925,
 'tt0210952': 926,
 'tt0210953': 927,
 'tt0210971': 928,
 'tt0211103': 929,
 'tt0211181': 930,
 'tt0211279': 931,
 'tt0211296': 932,
 'tt0211309': 933,
 'tt0211311': 934,
 'tt0211318': 935,
 'tt0211387': 936,
 'tt0211423': 937,
 'tt0211443': 938,
 'tt0211465': 939,
 'tt0211492': 940,
 'tt0211554': 941,
 'tt0211661': 942,
 'tt0211718': 943,
 'tt0211900': 944,
 'tt0211915': 945,
 'tt0211919': 946,
 'tt0211933': 947,
 'tt0211938': 948,
 'tt0211941': 949,
 'tt0211946': 950,
 'tt0212048': 951,
 'tt0212059': 952,
 'tt0212132': 953,
 'tt0212215': 954,
 'tt0212271': 955,
 'tt0212292': 956,
 'tt0212294': 957,
 'tt0212298': 958,
 'tt0212338': 959,
 'tt0212346': 960,
 'tt0212360': 961,
 'tt0212380': 962,
 'tt0212474': 963,
 'tt0212495': 964,
 'tt0212604': 965,
 'tt0212667': 966,
 'tt0212712': 967,
 'tt0212719': 968,
 'tt0212720': 969,
 'tt0212725': 970,
 'tt0212742': 971,
 'tt0212797': 972,
 'tt0212815': 973,
 'tt0212826': 974,
 'tt0212827': 975,
 'tt0212830': 976,
 'tt0212867': 977,
 'tt0212873': 978,
 'tt0212879': 979,
 'tt0212881': 980,
 'tt0212897': 981,
 'tt0212910': 982,
 'tt0212958': 983,
 'tt0212974': 984,
 'tt0212985': 985,
 'tt0213053': 986,
 'tt0213113': 987,
 'tt0213127': 988,
 'tt0213149': 989,
 'tt0213163': 990,
 'tt0213203': 991,
 'tt0213205': 992,
 'tt0213231': 993,
 'tt0213266': 994,
 'tt0213308': 995,
 'tt0213446': 996,
 'tt0213539': 997,
 'tt0213561': 998,
 'tt0213595': 999,
 ...}

In [10]:
## demonstrating using id_map to get iteger id 
basics_str_id ="tt0111414"
id_map[basics_str_id]

11

In [11]:
basics['Movie_ID'].map(id_map)

0              0
1              1
2              2
3              3
4              4
           ...
147420    147420
147421    147421
147422    147422
147423    147423
147424    147424
Name: Movie_ID, Length: 147425, dtype: int64

In [12]:
## overwriting the original id column 
basics['Movie_ID'] = basics['Movie_ID'].replace(id_map)

basics.head(3)

,Movie_ID,primaryTitle,startYear,runtimeMinutes,genres
0,0,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance"
1,1,The Tango of the Widower and Its Distorting Mi...,2020.0,70,Drama
2,2,The Other Side of the Wind,2018.0,122,Drama

In [13]:
# Using pd.DataFrame and a dictionary
id_lookup = pd.DataFrame({'str_id': id_map.keys(),
                         'int_id':id_map.values()})
id_lookup.head(3)

      str_id  int_id
0  tt0035423       0
1  tt0062336       1
2  tt0069049       2

### Genres separation and creating columns

In [15]:
## adding expand=True
basics['genre_split'] = basics['genres'].str.split(',')

In [16]:
## exploding the column of lists
exploded = basics.explode('genre_split')
exploded.head()

,Movie_ID,primaryTitle,startYear,runtimeMinutes,genres,genre_split
0,0,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance",Comedy
0,0,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance",Fantasy
0,0,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance",Romance
1,1,The Tango of the Widower and Its Distorting Mi...,2020.0,70,Drama,Drama
2,2,The Other Side of the Wind,2018.0,122,Drama,Drama

In [17]:
## saving the unique values from the exploded column
cols_to_make = exploded['genre_split'].dropna().unique()
cols_to_make

array(['Comedy', 'Fantasy', 'Romance', 'Drama', 'War', 'Horror', 'Sci-Fi',
       'Biography', 'Mystery', 'Adventure', 'Musical', 'Action', 'Crime',
       'Thriller', 'Music', 'Animation', 'Family', 'History', 'Sport',
       'Western', 'Adult', 'Short', 'Reality-TV', 'News', 'Talk-Show',
       'Game-Show'], dtype=object)

In [21]:
for col in cols_to_make:
    basics[col] = basics['genres'].str.contains(col)
basics.head()

,Movie_ID,primaryTitle,startYear,runtimeMinutes,genres,genre_split,Comedy,Fantasy,Romance,Drama,...,Family,History,Sport,Western,Adult,Short,Reality-TV,News,Talk-Show,Game-Show
0,0,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]",True,True,True,False,...,False,False,False,False,False,False,False,False,False,False
1,1,The Tango of the Widower and Its Distorting Mi...,2020.0,70,Drama,[Drama],False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2,2,The Other Side of the Wind,2018.0,122,Drama,[Drama],False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
3,3,November 1828,2001.0,140,"Drama,War","[Drama, War]",False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,4,The Naked Monster,2005.0,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]",True,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [22]:
# drop transactions clumns
basics = basics.drop(columns=['genres','genre_split'])
basics.head()

,Movie_ID,primaryTitle,startYear,runtimeMinutes,Comedy,Fantasy,Romance,Drama,War,Horror,...,Family,History,Sport,Western,Adult,Short,Reality-TV,News,Talk-Show,Game-Show
0,0,Kate & Leopold,2001.0,118,True,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,The Tango of the Widower and Its Distorting Mi...,2020.0,70,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2,The Other Side of the Wind,2018.0,122,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,3,November 1828,2001.0,140,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
4,4,The Naked Monster,2005.0,100,True,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False

In [24]:
## save data for next lesson
basics.to_csv('basics.csv', index=False)

## Ratings Dataframe

In [25]:
ratings = pd.read_csv('Data/title_ratings.csv.gz')
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1307127 entries, 0 to 1307126
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1307127 non-null  object
 1   averageRating  1307127 non-null  float64
 2   numVotes       1307127 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 29.9+ MB

### Changing the name of column 'tconst' to Movie_ID

In [26]:
ratings = ratings.rename(columns ={'tconst':'Movie_ID'})
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1307127 entries, 0 to 1307126
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Movie_ID       1307127 non-null  object
 1   averageRating  1307127 non-null  float64
 2   numVotes       1307127 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 29.9+ MB

In [32]:
## save data for next lesson
ratings.to_csv('ratings.csv', index=False)

### TMDB_API Dataframe

In [27]:
tmdb_api = pd.read_csv('Data/tmdb_results_combined.csv.gz')
tmdb_api.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4522 entries, 0 to 4521
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                4522 non-null   object
 1   adult                  4521 non-null   float64
 2   backdrop_path          2071 non-null   object
 3   belongs_to_collection  255 non-null    object
 4   budget                 4521 non-null   float64
 5   genres                 4521 non-null   object
 6   homepage               232 non-null    object
 7   id                     4521 non-null   float64
 8   original_language      4521 non-null   object
 9   original_title         4521 non-null   object
 10  overview               4175 non-null   object
 11  popularity             4521 non-null   float64
 12  poster_path            3894 non-null   object
 13  production_companies   4521 non-null   object
 14  production_countries   4521 non-null   object
 15  release_date           4480 non-null   object
 16  revenue                4521 non-null   float64
 17  runtime                4521 non-null   float64
 18  spoken_languages       4521 non-null   object
 19  status                 4521 non-null   object
 20  tagline                1298 non-null   object
 21  title                  4521 non-null   object
 22  video                  4521 non-null   float64
 23  vote_average           4521 non-null   float64
 24  vote_count             4521 non-null   float64
 25  certification          841 non-null    object
dtypes: float64(9), object(17)
memory usage: 918.7+ KB

### Removing unwanted columns from Ratings

In [28]:
tmdb_api = tmdb_api.drop(columns=['adult', 'backdrop_path', 'belongs_to_collection', 'genres','homepage', 'id',
                                  'original_language', 'original_title', 'overview','popularity','poster_path',
                                  'production_companies', 'production_countries','release_date','runtime','spoken_languages',
                                  'status','tagline','title','video','vote_average','vote_count'])
tmdb_api.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4522 entries, 0 to 4521
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   imdb_id        4522 non-null   object
 1   budget         4521 non-null   float64
 2   revenue        4521 non-null   float64
 3   certification  841 non-null    object
dtypes: float64(2), object(2)
memory usage: 141.4+ KB

In [29]:
tmdb_api.head(2)

     imdb_id      budget      revenue certification
0          0         NaN          NaN           NaN
1  tt1361336  50000000.0  136536687.0            PG

In [30]:
tmdb_api = tmdb_api.rename(columns ={'imdb_id':'Movie_ID'})
tmdb_api.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4522 entries, 0 to 4521
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Movie_ID       4522 non-null   object
 1   budget         4521 non-null   float64
 2   revenue        4521 non-null   float64
 3   certification  841 non-null    object
dtypes: float64(2), object(2)
memory usage: 141.4+ KB

In [31]:
## save data for next lesson
tmdb_api.to_csv('tmdb_api.csv', index=False)

## SQL

In [ ]:
# imports
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
from urllib.parse import quote_plus as urlquote
# Create connection string using credentials following this format

In [ ]:
import json
with open('/Users/miran/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

In [ ]:
connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/movie"

In [ ]:
# create sqlite engine for a database called schools
engine = create_engine(connection)
# create connection to engine
conn = engine.connect()

In [ ]:
database_exists(connection)

In [ ]:
movie = pd.read_csv('Data/title_basics.csv.gz')
basics.info()

In [ ]:
## Check if database exists, if not, create it
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print('Database created!')

In [ ]:
movie.to_sql('movie', engine, if_exists = 'replace')

In [ ]:
q = """SELECT * FROM movie;"""
pd.read_sql(q, engine)

In [ ]:
q = '''SHOW TABLES'''
pd.read_sql(q,engine)