# Part 4

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats
pd.set_option('display.max_column', None)
import warnings
warnings.filterwarnings('ignore')

### Question
The stakeholder's first question is: does the MPAA rating of a movie (G/PG/PG-13/R) affect how much revenue the movie generates?

In [2]:
# imports
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
from urllib.parse import quote_plus as urlquote
# Create connection string using credentials following this format

In [3]:
## Checking what data we already in our Data folder using os.listdir
import os
FOLDER = 'Data/'
file_list = sorted(os.listdir(FOLDER))
file_list

['final_tmdb_data_2001.csv.gz',
 'final_tmdb_data_2002.csv.gz',
 'final_tmdb_data_2003.csv.gz',
 'final_tmdb_data_2004.csv.gz',
 'final_tmdb_data_2005.csv.gz',
 'final_tmdb_data_2006.csv.gz',
 'final_tmdb_data_2007.csv.gz',
 'final_tmdb_data_2008.csv.gz',
 'final_tmdb_data_2009.csv.gz',
 'final_tmdb_data_2010.csv.gz',
 'title_akas.csv.gz',
 'title_basics.csv.gz',
 'title_ratings.csv.gz',
 'tmdb_api_results_2001.json',
 'tmdb_api_results_2002.json',
 'tmdb_api_results_2003.json',
 'tmdb_api_results_2004.json',
 'tmdb_api_results_2005.json',
 'tmdb_api_results_2006.json',
 'tmdb_api_results_2007.json',
 'tmdb_api_results_2008.json',
 'tmdb_api_results_2009.json',
 'tmdb_api_results_2010.json',
 'tmdb_results_combined.csv.gz']

In [4]:
## let's check the filepath 
file_list[4]

'final_tmdb_data_2005.csv.gz'

In [5]:
## add the folder plus filename
FOLDER+ file_list[9]

'Data/final_tmdb_data_2010.csv.gz'

In [6]:
import glob
## Make a filepath query
q = FOLDER+'final*.csv.gz'
print(q)
file_list = sorted(glob.glob(q,recursive=True))
file_list

Data/final*.csv.gz

['Data\\final_tmdb_data_2001.csv.gz',
 'Data\\final_tmdb_data_2002.csv.gz',
 'Data\\final_tmdb_data_2003.csv.gz',
 'Data\\final_tmdb_data_2004.csv.gz',
 'Data\\final_tmdb_data_2005.csv.gz',
 'Data\\final_tmdb_data_2006.csv.gz',
 'Data\\final_tmdb_data_2007.csv.gz',
 'Data\\final_tmdb_data_2008.csv.gz',
 'Data\\final_tmdb_data_2009.csv.gz',
 'Data\\final_tmdb_data_2010.csv.gz']

In [7]:
## use a list comprehension to load in all files into 1 dataframe
df = pd.concat([pd.read_csv(f,lineterminator='\n') for f in file_list])
df

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification\r
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\r
1,tt0035423,0.0,/tJLV3BAlHOgscVOrA99Wnb2gAef.jpg,NaN,48000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",NaN,11232.0,en,Kate & Leopold,When her scientist ex-boyfriend discovers a po...,20.950,/mUvikzKJJSg9khrVdxK8kg3TMHA.jpg,"[{'id': 85, 'logo_path': None, 'name': 'Konrad...","[{'iso_3166_1': 'US', 'name': 'United States o...",2001-12-25,76019048.0,118.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.0,6.323,1242.0,PG-13\r
2,tt0114447,0.0,NaN,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,151007.0,en,The Silent Force,An elite Federal force whose objective is to e...,2.194,/u0njmfXD3dXxQfeykBHBuFQOYqD.jpg,[],[],2001-01-01,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,5.000,3.0,\r
3,tt0118589,0.0,/9NZAirJahVilTiDNCHLFcdkwkiy.jpg,NaN,22000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,10696.0,en,Glitter,"A young woman is catapulted into pop stardom, ...",10.741,/b8gKsXB6d60SC2HKUcAAzTacn0S.jpg,"[{'id': 89627, 'logo_path': None, 'name': 'Gli...","[{'iso_3166_1': 'US', 'name': 'United States o...",2001-09-21,5271666.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"In music she found her dream, her love, herself.",Glitter,0.0,4.405,132.0,PG-13\r
4,tt0118652,0.0,/mWxJEFRMvkG4UItYJkRDMgWQ08Y.jpg,NaN,1000000.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",NaN,17140.0,en,The Attic Expeditions,Trevor Blackburn is accused of murdering his g...,4.338,/b0p8CjMLWc7B1nnIfFQ2uY3HLe0.jpg,"[{'id': 3260, 'logo_path': None, 'name': 'Tse ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2001-03-30,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,His search for peace of mind... will leave his...,The Attic Expeditions,0.0,5.156,32.0,R\r
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2751,tt7851834,0.0,/c4x2XPngdiW8Vmc6EmmTXAgzViJ.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,166919.0,ko,여의도,"In bleak Yeouido, crowded by the political wor...",2.237,/1HrkMYaspMVvPNehXj8TAKkTaTD.jpg,"[{'id': 117236, 'logo_path': '/gM81y541KXHLgmD...","[{'iso_3166_1': 'KR', 'name': 'South Korea'}]",2010-12-02,0.0,88.0,"[{'english_name': 'Korean', 'iso_639_1': 'ko',...",Released,NaN,A Friend In Need,0.0,5.000,3.0,\r
2752,tt8090084,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,516206.0,en,Goodbye Dolly,Rival suburban divorcees Bettie and Joan must ...,0.600,/eoESkZgm0DZH9oWasbRljVj9ED5.jpg,"[{'id': 57499, 'logo_path': None, 'name': 'Gon...","[{'iso_3166_1': 'US', 'name': 'United States o...",2010-10-22,0.0,46.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Goodbye Dolly,0.0,0.000,0.0,\r
2753,tt8160720,0.0,NaN,NaN,0.0,[],NaN,273502.0,en,Moist Fury,"It's ""Death Wish"" meets ""Savage Streets"" meets...",1.168,/wqMK2sp0KST5JX1ArsQxei3lUE0.jpg,[],[],2011-01-01,0.0,65.0,[],Released,NaN,Moist Fury,0.0,6.000,2.0,\r
2754,tt9164254,1.0,NaN,NaN,0.0,[],NaN,775304.0,en,"Text, Lies and Video",When Andy (Nicco Sky) finds out his hookup wit...,0.000,/2UlBwfOPwREWOvbjx3Ch8AuaISW.jpg,"[{'id': 101868, 'logo_path': None, 'name': 'Ra...","[{'iso_3166_1': 'US', 'name': 'United States o...",2010-05-14,0.0,103.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Download Deception. Upload Revenge.,"Text, Lies and Video",0.0,0.000,0.0,NC-17\r
2755,tt9575206,0.0,/yejvp5VvZa6TnXodrQsYUKzF4Cs.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,574744.0,fa,پنهان,Our city has become that much big that none of...,0.600,/6J0F4za19bIuurF6S5nyDcBIQ5B.jpg,[],[],2010-01-01,0.0,90.0,"[{'english_name': 'Persian', 'iso_639_1': 'fa'...",Released,NaN,Private,0.0,0.000,0.0,\r

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18670 entries, 0 to 2755
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                18670 non-null  object
 1   adult                  18660 non-null  float64
 2   backdrop_path          10505 non-null  object
 3   belongs_to_collection  1405 non-null   object
 4   budget                 18660 non-null  float64
 5   genres                 18660 non-null  object
 6   homepage               3548 non-null   object
 7   id                     18660 non-null  float64
 8   original_language      18660 non-null  object
 9   original_title         18660 non-null  object
 10  overview               18215 non-null  object
 11  popularity             18660 non-null  float64
 12  poster_path            16496 non-null  object
 13  production_companies   18660 non-null  object
 14  production_countries   18660 non-null  object
 15  release_date           18300 non-null  object
 16  revenue                18660 non-null  float64
 17  runtime                18660 non-null  float64
 18  spoken_languages       18660 non-null  object
 19  status                 18660 non-null  object
 20  tagline                7844 non-null   object
 21  title                  18660 non-null  object
 22  video                  18660 non-null  float64
 23  vote_average           18660 non-null  float64
 24  vote_count             18660 non-null  float64
         18670 non-null  object
dtypes: float64(9), object(17)
memory usage: 3.8+ MB

In [9]:
df.isna().sum()

imdb_id                      0
adult                       10
backdrop_path             8165
belongs_to_collection    17265
budget                      10
genres                      10
homepage                 15122
id                          10
original_language           10
original_title              10
overview                   455
popularity                  10
poster_path               2174
production_companies        10
production_countries        10
release_date               370
revenue                     10
runtime                     10
spoken_languages            10
status                      10
tagline                  10826
title                       10
video                       10
vote_average                10
vote_count                  10
certification\r              0
dtype: int64

In [10]:
df = df.drop(columns=['belongs_to_collection','homepage','tagline','original_language','original_title','overview',
                      'popularity','poster_path','production_companies','video','vote_average','vote_count'])
df

,imdb_id,adult,backdrop_path,budget,genres,id,production_countries,release_date,revenue,runtime,spoken_languages,status,title,certification\r
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\r
1,tt0035423,0.0,/tJLV3BAlHOgscVOrA99Wnb2gAef.jpg,48000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",11232.0,"[{'iso_3166_1': 'US', 'name': 'United States o...",2001-12-25,76019048.0,118.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,Kate & Leopold,PG-13\r
2,tt0114447,0.0,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",151007.0,[],2001-01-01,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The Silent Force,\r
3,tt0118589,0.0,/9NZAirJahVilTiDNCHLFcdkwkiy.jpg,22000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",10696.0,"[{'iso_3166_1': 'US', 'name': 'United States o...",2001-09-21,5271666.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Glitter,PG-13\r
4,tt0118652,0.0,/mWxJEFRMvkG4UItYJkRDMgWQ08Y.jpg,1000000.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",17140.0,"[{'iso_3166_1': 'US', 'name': 'United States o...",2001-03-30,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The Attic Expeditions,R\r
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2751,tt7851834,0.0,/c4x2XPngdiW8Vmc6EmmTXAgzViJ.jpg,0.0,"[{'id': 18, 'name': 'Drama'}]",166919.0,"[{'iso_3166_1': 'KR', 'name': 'South Korea'}]",2010-12-02,0.0,88.0,"[{'english_name': 'Korean', 'iso_639_1': 'ko',...",Released,A Friend In Need,\r
2752,tt8090084,0.0,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}]",516206.0,"[{'iso_3166_1': 'US', 'name': 'United States o...",2010-10-22,0.0,46.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Goodbye Dolly,\r
2753,tt8160720,0.0,NaN,0.0,[],273502.0,[],2011-01-01,0.0,65.0,[],Released,Moist Fury,\r
2754,tt9164254,1.0,NaN,0.0,[],775304.0,"[{'iso_3166_1': 'US', 'name': 'United States o...",2010-05-14,0.0,103.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"Text, Lies and Video",NC-17\r
2755,tt9575206,0.0,/yejvp5VvZa6TnXodrQsYUKzF4Cs.jpg,0.0,"[{'id': 18, 'name': 'Drama'}]",574744.0,[],2010-01-01,0.0,90.0,"[{'english_name': 'Persian', 'iso_639_1': 'fa'...",Released,Private,\r

In [11]:
# remove ids that are 0
df = df.loc[ df['imdb_id']!='0']
df

,imdb_id,adult,backdrop_path,budget,genres,id,production_countries,release_date,revenue,runtime,spoken_languages,status,title,certification\r
1,tt0035423,0.0,/tJLV3BAlHOgscVOrA99Wnb2gAef.jpg,48000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",11232.0,"[{'iso_3166_1': 'US', 'name': 'United States o...",2001-12-25,76019048.0,118.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,Kate & Leopold,PG-13\r
2,tt0114447,0.0,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",151007.0,[],2001-01-01,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The Silent Force,\r
3,tt0118589,0.0,/9NZAirJahVilTiDNCHLFcdkwkiy.jpg,22000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",10696.0,"[{'iso_3166_1': 'US', 'name': 'United States o...",2001-09-21,5271666.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Glitter,PG-13\r
4,tt0118652,0.0,/mWxJEFRMvkG4UItYJkRDMgWQ08Y.jpg,1000000.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",17140.0,"[{'iso_3166_1': 'US', 'name': 'United States o...",2001-03-30,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The Attic Expeditions,R\r
5,tt0119004,0.0,/r7bxHKEzgrURm9qhEaAayIMG4Xi.jpg,0.0,"[{'id': 18, 'name': 'Drama'}]",37857.0,"[{'iso_3166_1': 'DK', 'name': 'Denmark'}, {'is...",2001-02-10,6297.0,108.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Don's Plum,\r
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2751,tt7851834,0.0,/c4x2XPngdiW8Vmc6EmmTXAgzViJ.jpg,0.0,"[{'id': 18, 'name': 'Drama'}]",166919.0,"[{'iso_3166_1': 'KR', 'name': 'South Korea'}]",2010-12-02,0.0,88.0,"[{'english_name': 'Korean', 'iso_639_1': 'ko',...",Released,A Friend In Need,\r
2752,tt8090084,0.0,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}]",516206.0,"[{'iso_3166_1': 'US', 'name': 'United States o...",2010-10-22,0.0,46.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Goodbye Dolly,\r
2753,tt8160720,0.0,NaN,0.0,[],273502.0,[],2011-01-01,0.0,65.0,[],Released,Moist Fury,\r
2754,tt9164254,1.0,NaN,0.0,[],775304.0,"[{'iso_3166_1': 'US', 'name': 'United States o...",2010-05-14,0.0,103.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"Text, Lies and Video",NC-17\r
2755,tt9575206,0.0,/yejvp5VvZa6TnXodrQsYUKzF4Cs.jpg,0.0,"[{'id': 18, 'name': 'Drama'}]",574744.0,[],2010-01-01,0.0,90.0,"[{'english_name': 'Persian', 'iso_639_1': 'fa'...",Released,Private,\r

In [12]:
df.head()

,imdb_id,adult,backdrop_path,budget,genres,id,production_countries,release_date,revenue,runtime,spoken_languages,status,title,certification\r
1,tt0035423,0.0,/tJLV3BAlHOgscVOrA99Wnb2gAef.jpg,48000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",11232.0,"[{'iso_3166_1': 'US', 'name': 'United States o...",2001-12-25,76019048.0,118.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,Kate & Leopold,PG-13\r
2,tt0114447,0.0,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",151007.0,[],2001-01-01,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The Silent Force,\r
3,tt0118589,0.0,/9NZAirJahVilTiDNCHLFcdkwkiy.jpg,22000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",10696.0,"[{'iso_3166_1': 'US', 'name': 'United States o...",2001-09-21,5271666.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Glitter,PG-13\r
4,tt0118652,0.0,/mWxJEFRMvkG4UItYJkRDMgWQ08Y.jpg,1000000.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",17140.0,"[{'iso_3166_1': 'US', 'name': 'United States o...",2001-03-30,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The Attic Expeditions,R\r
5,tt0119004,0.0,/r7bxHKEzgrURm9qhEaAayIMG4Xi.jpg,0.0,"[{'id': 18, 'name': 'Drama'}]",37857.0,"[{'iso_3166_1': 'DK', 'name': 'Denmark'}, {'is...",2001-02-10,6297.0,108.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Don's Plum,\r

In [13]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Index: 18660 entries, 1 to 2755
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               18660 non-null  object
 1   adult                 18660 non-null  float64
 2   backdrop_path         10505 non-null  object
 3   budget                18660 non-null  float64
 4   genres                18660 non-null  object
 5   id                    18660 non-null  float64
 6   production_countries  18660 non-null  object
 7   release_date          18300 non-null  object
 8   revenue               18660 non-null  float64
 9   runtime               18660 non-null  float64
 10  spoken_languages      18660 non-null  object
 11  status                18660 non-null  object
 12  title                 18660 non-null  object
        18660 non-null  object
dtypes: float64(5), object(9)
memory usage: 2.1+ MB

In [14]:
df['cert_split'] = df['certification\r'].str.split('\')

SyntaxError: unterminated string literal (detected at line 1) (2382928611.py, line 1)

In [ ]:
explode_cert = basics.explode('cert_split')
explode_cert

In [ ]:
## saving the combined csv to disk
df.to_csv(FOLDER+'combined_tmdb_data.csv.gz',compression='gzip',index=False)

df = pd.read_csv(FOLDER+'combined_tmdb_data.csv.gz',lineterminator='\n')
df

In [ ]:
import json
with open('/Users/miran/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

In [ ]:
connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/tmdb"

In [ ]:
# create sqlite engine for a database called schools
engine = create_engine(connection)
# create connection to engine
conn = engine.connect()

In [ ]:
database_exists(connection)

In [ ]:
## Check if database exists, if not, create it
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print('Database created!')

In [ ]:
tmdb.to_sql('tmdb', engine, if_exists = 'replace')

In [ ]:
q = """SELECT * FROM tmdb;"""
pd.read_sql(q, engine)

In [ ]:
q = '''SHOW TABLES'''
pd.read_sql(q,engine)