In [1]:
# imports
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
from urllib.parse import quote_plus as urlquote
# Create connection string using credentials following this format

In [ ]:
import json
with open('/Users/miran/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

In [ ]:
connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/movie"

In [2]:
# load data - change the path to match your drive!
movie = pd.read_csv(r'Data/tmdb_results_combined.csv.gz')
movie.head(2)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,"{'id': 1118731, 'name': 'Tom and Jerry Collect...",50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.897,2213.0,PG

In [3]:
# create sqlite engine for a database called schools
engine = create_engine('sqlite:///movie.db', echo=True)
# create connection to engine
conn = engine.connect()

In [5]:
# add the dataframe as a table in sqlite
movie_table = 'movie_info'
movie_table.to_sql('movie_info', conn, if_exists='fail')

AttributeError: 'str' object has no attribute 'to_sql'

In [ ]:
# Write your SQL query in this string
sql = """
SELECT * FROM sqlite_table
"""
# Read the sql query into pandas to view the results
pd.read_sql_query(sql, conn)