# Part 2.b

In [1]:
import pandas as pd
import numpy as np

### Concatenate the data into 1 dataframe for the remainder of the analysis.

In [2]:
year_2000 = pd.read_csv('Data/final_tmdb_data_2000.csv.gz')
year_2001 = pd.read_csv('Data/final_tmdb_data_2001.csv.gz')

In [3]:
df = pd.concat([year_2000, year_2001], axis=1)
df.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,"{'id': 1118731, 'name': 'Tom and Jerry Collect...",50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.897,2213.0,PG
2,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,"{'id': 1118731, 'name': 'Tom and Jerry Collect...",50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.897,2213.0,PG
3,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,"{'id': 1118731, 'name': 'Tom and Jerry Collect...",50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.897,2213.0,PG
4,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,"{'id': 1118731, 'name': 'Tom and Jerry Collect...",50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.897,2213.0,PG

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10443 entries, 0 to 10442
Data columns (total 52 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                10443 non-null  object
 1   adult                  10442 non-null  float64
 2   backdrop_path          9246 non-null   object
 3   belongs_to_collection  5615 non-null   object
 4   budget                 10442 non-null  float64
 5   genres                 10442 non-null  object
 6   homepage               8312 non-null   object
 7   id                     10442 non-null  float64
 8   original_language      10442 non-null  object
 9   original_title         10442 non-null  object
 10  overview               10255 non-null  object
 11  popularity             10442 non-null  float64
 12  poster_path            10131 non-null  object
 13  production_companies   10442 non-null  object
 14  production_countries   10442 non-null  object
 15  release_date           10424 non-null  object
 16  revenue                10442 non-null  float64
 17  runtime                10442 non-null  float64
 18  spoken_languages       10442 non-null  object
 19  status                 10442 non-null  object
 20  tagline                8876 non-null   object
 21  title                  10442 non-null  object
 22  video                  10442 non-null  float64
 23  vote_average           10442 non-null  float64
 24  vote_count             10442 non-null  float64
 25  certification          8625 non-null   object
 26  imdb_id                7783 non-null   object
 27  adult                  7782 non-null   float64
 28  backdrop_path          6527 non-null   object
 29  belongs_to_collection  2863 non-null   object
 30  budget                 7782 non-null   float64
 31  genres                 7782 non-null   object
 32  homepage               5623 non-null   object
 33  id                     7782 non-null   float64
 34  original_language      7782 non-null   object
 35  original_title         7782 non-null   object
 36  overview               7623 non-null   object
 37  popularity             7782 non-null   float64
 38  poster_path            7463 non-null   object
 39  production_companies   7782 non-null   object
 40  production_countries   7782 non-null   object
 41  release_date           7759 non-null   object
 42  revenue                7782 non-null   float64
 43  runtime                7782 non-null   float64
 44  spoken_languages       7782 non-null   object
 45  status                 7782 non-null   object
 46  tagline                6125 non-null   object
 47  title                  7782 non-null   object
 48  video                  7782 non-null   float64
 49  vote_average           7782 non-null   float64
 50  vote_count             7782 non-null   float64
 51  certification          5919 non-null   object
dtypes: float64(18), object(34)
memory usage: 4.1+ MB

In [5]:
df.duplicated().sum()

5920

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
df_merg = pd.merge(year_2000, year_2001)
df_merg.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,"{'id': 1118731, 'name': 'Tom and Jerry Collect...",50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.897,2213.0,PG
2,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,"{'id': 1118731, 'name': 'Tom and Jerry Collect...",50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.897,2213.0,PG
3,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,"{'id': 1118731, 'name': 'Tom and Jerry Collect...",50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.897,2213.0,PG
4,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,"{'id': 1118731, 'name': 'Tom and Jerry Collect...",50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.897,2213.0,PG

In [8]:
df_merg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22539244 entries, 0 to 22539243
Data columns (total 26 columns):
 #   Column                 Dtype
---  ------                 -----
 0   imdb_id                object
 1   adult                  float64
 2   backdrop_path          object
 3   belongs_to_collection  object
 4   budget                 float64
 5   genres                 object
 6   homepage               object
 7   id                     float64
 8   original_language      object
 9   original_title         object
 10  overview               object
 11  popularity             float64
 12  poster_path            object
 13  production_companies   object
 14  production_countries   object
 15  release_date           object
 16  revenue                float64
 17  runtime                float64
 18  spoken_languages       object
 19  status                 object
 20  tagline                object
 21  title                  object
 22  video                  float64
 23  vote_average           float64
 24  vote_count             float64
 25  certification          object
dtypes: float64(9), object(17)
memory usage: 4.5+ GB

### How many movies had at least some valid financial information (values > 0 for budget OR revenue)?

In [23]:
df_merg = df_merg.drop(df_merg[df_merg.revenue == 0].index)

In [24]:
valis_movies = df_merg['revenue'].sum()
valid_movies

title
The Notebook    8.685364e+14
Tom & Jerry     2.051622e+15
Name: revenue, dtype: float64

### How many movies are there in each of the certification categories (G/PG/PG-13/R)?

In [26]:
df_merg.groupby('certification').sum()

C:\Users\miran\AppData\Local\Temp\ipykernel_43648\2498264419.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_merg.groupby('certification').sum()

,adult,budget,id,popularity,revenue,runtime,video,vote_average,vote_count
certification,,,,,,,,,
PG,0.0,7.513081e+14,8.832483e+12,8.464988e+08,2.051622e+15,1.517642e+09,0.0,1.036354e+08,3.325290e+10
PG-13,0.0,2.178793e+14,8.291436e+10,4.183509e+08,8.685364e+14,9.241090e+08,0.0,5.918805e+07,7.737722e+10

### What is the average revenue per certification category?

In [30]:
ave = df_merg.groupby(['certification'])['revenue'].apply(lambda x:x.mean())
ave

certification
PG       136536687.0
PG-13    115603229.0
Name: revenue, dtype: float64

### What is the average budget per certification category?

In [31]:
bud = df_merg.groupby(['certification'])['budget'].apply(lambda x:x.mean())
bud

certification
PG       50000000.0
PG-13    29000000.0
Name: budget, dtype: float64

## Data was collected from TMBD
https://www.themoviedb.org/about/logos-attribution