# Part 4

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats
import warnings
warnings.filterwarnings('ignore')

### Question
The stakeholder's first question is: does the MPAA rating of a movie (G/PG/PG-13/R) affect how much revenue the movie generates?

In [2]:
# imports
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
from urllib.parse import quote_plus as urlquote
# Create connection string using credentials following this format

In [3]:
## Checking what data we already in our Data folder using os.listdir
import os
FOLDER = 'Data/'
file_list = sorted(os.listdir(FOLDER))
file_list

['.ipynb_checkpoints',
 'TMDB API Results.csv',
 'Title Basics.csv',
 'Title Ratings.csv',
 'Title TMDB API Results.csv',
 'Untitled.ipynb',
 'final_tmdb_data_-9.csv.gz',
 'final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 'final_tmdb_data_2010.csv.gz',
 'final_tmdb_data_2011.csv.gz',
 'final_tmdb_data_2012.csv.gz',
 'final_tmdb_data_2013.csv.gz',
 'final_tmdb_data_2014.csv.gz',
 'final_tmdb_data_2015.csv.gz',
 'final_tmdb_data_2016.csv.gz',
 'final_tmdb_data_2017.csv.gz',
 'final_tmdb_data_2018.csv.gz',
 'final_tmdb_data_2019.csv.gz',
 'title_akas.csv.gz',
 'title_basics.csv.gz',
 'title_ratings.csv.gz',
 'tmdb_api_results_-9.json',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json',
 'tmdb_api_results_2010.json',
 'tmdb_api_results_2011.json',
 'tmdb_api_results_2012.json',
 'tmdb_api_results_2013.json',
 'tmdb_api_results_2014.json',
 'tmdb_api_results_2015.json',
 'tmdb_api_results_2016.json',
 'tmdb_api_results_2017.json',
 'tmdb_api_results_2018.json',
 'tmdb_api_results_2019.json',
 'tmdb_results_combined.csv.gz']

In [4]:
## let's check the filepath 
file_list[2]

'Title Basics.csv'

In [5]:
## add the folder plus filename
FOLDER+ file_list[2]

'Data/Title Basics.csv'

In [6]:
import glob
## Make a filepath query
q = FOLDER+"Title *.csv"
print(q)
file_list = sorted(glob.glob(q,recursive=True))
file_list

Data/Title *.csv

['Data\\Title Basics.csv',
 'Data\\Title Ratings.csv',
 'Data\\Title TMDB API Results.csv']

In [7]:
## use a list comprehension to load in all files into 1 dataframe
df = pd.concat([pd.read_csv(f,lineterminator='\n') for f in file_list])
df

,tconst,primaryTitle,startYear,runtimeMinutes,genres\r,averageRating,numVotes\r,imdb_id,budget,revenue,certification\r
0,tt0035423,Kate & Leopold,2001.0,118.0,"Comedy,Fantasy,Romance\r",NaN,NaN,NaN,NaN,NaN,NaN
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70.0,Drama\r,NaN,NaN,NaN,NaN,NaN,NaN
2,tt0069049,The Other Side of the Wind,2018.0,122.0,Drama\r,NaN,NaN,NaN,NaN,NaN,NaN
3,tt0088751,The Naked Monster,2005.0,100.0,"Comedy,Horror,Sci-Fi\r",NaN,NaN,NaN,NaN,NaN,NaN
4,tt0096056,Crime and Punishment,2002.0,126.0,Drama\r,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt7797670,0.0,0.0,\r
2564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt7797790,0.0,0.0,\r
2565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt8665056,0.0,0.0,\r
2566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt8795764,0.0,0.0,NR\r
2567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt9071078,0.0,0.0,\r

In [ ]:
# remove nan from concattenated column
df['movie id'].fillna('', inplace=True)
df

In [ ]:
df = df.dropna['averageRating','numVotes\r','runtimesMinutes']
df

In [ ]:
df["movie id"] = df['tconst'].astype(str) + df['imdb_id'].astype(str)
df

In [ ]:
# remove ids that are 0
df = df.loc[ df['imdb_id']!='0']
df

In [ ]:
df = df.reset_index(drop=True)
df

In [ ]:
## saving the combined csv to disk
df.to_csv(FOLDER+'combined_tmdb_data.csv.gz',compression='gzip',index=False)

df = pd.read_csv(FOLDER+'combined_tmdb_data.csv.gz',lineterminator='\n')
df

In [ ]:
import json
with open('/Users/miran/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

In [ ]:
connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/tmdb"

In [ ]:
# create sqlite engine for a database called schools
engine = create_engine(connection)
# create connection to engine
conn = engine.connect()

In [ ]:
database_exists(connection)

In [ ]:
## Check if database exists, if not, create it
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print('Database created!')

In [ ]:
tmdb.to_sql('tmdb', engine, if_exists = 'replace')

In [ ]:
q = """SELECT * FROM tmdb;"""
pd.read_sql(q, engine)

In [ ]:
q = '''SHOW TABLES'''
pd.read_sql(q,engine)