# Part 4

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats
pd.set_option('display.max_column', None)
import warnings
warnings.filterwarnings('ignore')

### Question
The stakeholder's first question is: does the MPAA rating of a movie (G/PG/PG-13/R) affect how much revenue the movie generates?

In [2]:
# imports
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
from urllib.parse import quote_plus as urlquote
# Create connection string using credentials following this format

In [3]:
## Checking what data we already in our Data folder using os.listdir
import os
FOLDER = 'Data/'
file_list = sorted(os.listdir(FOLDER))
file_list

['.ipynb_checkpoints',
 'TMDB API Results.csv',
 'Title Basics.csv',
 'Title Ratings.csv',
 'Title TMDB API Results.csv',
 'Untitled.ipynb',
 'final_tmdb_data_-9.csv.gz',
 'final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 'final_tmdb_data_2010.csv.gz',
 'final_tmdb_data_2011.csv.gz',
 'final_tmdb_data_2012.csv.gz',
 'final_tmdb_data_2013.csv.gz',
 'final_tmdb_data_2014.csv.gz',
 'final_tmdb_data_2015.csv.gz',
 'final_tmdb_data_2016.csv.gz',
 'final_tmdb_data_2017.csv.gz',
 'final_tmdb_data_2018.csv.gz',
 'final_tmdb_data_2019.csv.gz',
 'title_akas.csv.gz',
 'title_basics.csv.gz',
 'title_ratings.csv.gz',
 'tmdb_api_results_-9.json',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json',
 'tmdb_api_results_2010.json',
 'tmdb_api_results_2011.json',
 'tmdb_api_results_2012.json',
 'tmdb_api_results_2013.json',
 'tmdb_api_results_2014.json',
 'tmdb_api_results_2015.json',
 'tmdb_api_results_2016.json',
 'tmdb_api_results_2017.json',
 'tmdb_api_results_2018.json',
 'tmdb_api_results_2019.json',
 'tmdb_results_combined.csv.gz']

In [4]:
## let's check the filepath 
file_list[9]

'final_tmdb_data_2010.csv.gz'

In [5]:
## add the folder plus filename
FOLDER+ file_list[9]

'Data/final_tmdb_data_2010.csv.gz'

In [9]:
import glob
## Make a filepath query
q = FOLDER+'final*.csv.gz'
print(q)
file_list = sorted(glob.glob(q,recursive=True))
file_list

Data/final*.csv.gz

['Data\\final_tmdb_data_-9.csv.gz',
 'Data\\final_tmdb_data_2000.csv.gz',
 'Data\\final_tmdb_data_2001.csv.gz',
 'Data\\final_tmdb_data_2010.csv.gz',
 'Data\\final_tmdb_data_2011.csv.gz',
 'Data\\final_tmdb_data_2012.csv.gz',
 'Data\\final_tmdb_data_2013.csv.gz',
 'Data\\final_tmdb_data_2014.csv.gz',
 'Data\\final_tmdb_data_2015.csv.gz',
 'Data\\final_tmdb_data_2016.csv.gz',
 'Data\\final_tmdb_data_2017.csv.gz',
 'Data\\final_tmdb_data_2018.csv.gz',
 'Data\\final_tmdb_data_2019.csv.gz']

In [10]:
## use a list comprehension to load in all files into 1 dataframe
df = pd.concat([pd.read_csv(f,lineterminator='\n') for f in file_list])
df

,imdb_id\r,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification\r
0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\r
1,NaN,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,Two rural teens sing and dance their way throu...,2.271,/hfO64mXz3DgUxkBVU7no2UWRP7x.jpg,"[{'id': 51207, 'logo_path': None, 'name': 'Sul...","[{'iso_3166_1': 'US', 'name': 'United States o...",2000-09-22,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,\r
2,NaN,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,Earth is in a state of constant war and two co...,2.345,/h9bWO13nWRGZJo4XVPiElXyrRMU.jpg,"[{'id': 7405, 'logo_path': '/rfnws0uY8rsNAsrLb...","[{'iso_3166_1': 'US', 'name': 'United States o...",2000-11-15,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.100,8.0,\r
3,NaN,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,"After falling prey to underworld, four friends...",1.376,/yB5wRu4uyXXwZA3PEj8cITu0xt3.jpg,[],"[{'iso_3166_1': 'IN', 'name': 'India'}]",2000-04-14,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.000,1.0,\r
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4891,NaN,tt9906644,0.0,/htoReVItKtolso5VJqFqJDBaOwm.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,635903.0,ml,മനോഹരം,Manoharan is a poster artist struggling to fin...,1.620,/cNWfJlveyMEbiORrKmFKZZRDx75.jpg,"[{'id': 125107, 'logo_path': None, 'name': 'Ch...","[{'iso_3166_1': 'IN', 'name': 'India'}]",2019-09-27,0.0,122.0,"[{'english_name': 'Malayalam', 'iso_639_1': 'm...",Released,NaN,Manoharam,0.0,6.125,12.0,\r
4892,NaN,tt9913660,0.0,/z6YpkQiWLnRKl5yQD9dSiPDFWN.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,711261.0,en,No Apology,When a group of women struggle to deal with th...,0.600,/fqIWD97MAjgrj8mB2M78kxeSSnk.jpg,[],[],2019-10-23,0.0,102.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,No Apology,0.0,8.000,1.0,\r
4893,NaN,tt9913872,0.0,/a0kySBmMZ77AqmNA3pDu45GsbCp.jpg,NaN,0.0,"[{'id': 27, 'name': 'Horror'}]",NaN,800030.0,es,De la piel del Diablo,NaN,1.242,/it2z2X2pxeurP1Cmzo5C3BJdQ2W.jpg,[],[],2019-01-01,0.0,0.0,[],Released,NaN,De la piel del Diablo,0.0,8.200,3.0,\r
4894,NaN,tt9914942,0.0,/tjHUeULyw2vtS1DXFp0OHfhUzRX.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,598553.0,ca,La vida sense la Sara Amat,"Pep, a 13-year-old boy, is in love with a girl...",2.384,/ulCLv5kRiC8JnxdRBczDzx0NjSr.jpg,"[{'id': 20786, 'logo_path': None, 'name': ""Mas...","[{'iso_3166_1': 'ES', 'name': 'Spain'}]",2019-07-12,0.0,74.0,"[{'english_name': 'Catalan', 'iso_639_1': 'ca'...",Released,NaN,Life without Sara Amat,0.0,7.700,7.0,\r
4895,NaN,tt9915872,0.0,NaN,NaN,0.0,[],NaN,897433.0,en,The Last White Witch,"One day, a charming and mystical girl, Fuka, a...",0.600,NaN,[],[],NaN,0.0,97.0,[],Released,NaN,The Last White Witch,0.0,0.000,0.0,\r

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40745 entries, 0 to 4895
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
               1 non-null      float64
 1   imdb_id                40744 non-null  object
 2   adult                  40732 non-null  float64
 3   backdrop_path          26694 non-null  object
 4   belongs_to_collection  2703 non-null   object
 5   budget                 40732 non-null  float64
 6   genres                 40732 non-null  object
 7   homepage               10239 non-null  object
 8   id                     40732 non-null  float64
 9   original_language      40732 non-null  object
 10  original_title         40732 non-null  object
 11  overview               39853 non-null  object
 12  popularity             40732 non-null  float64
 13  poster_path            37714 non-null  object
 14  production_companies   40732 non-null  object
 15  production_countries   40732 non-null  object
 16  release_date           40169 non-null  object
 17  revenue                40732 non-null  float64
 18  runtime                40732 non-null  float64
 19  spoken_languages       40732 non-null  object
 20  status                 40732 non-null  object
 21  tagline                15007 non-null  object
 22  title                  40732 non-null  object
 23  video                  40732 non-null  float64
 24  vote_average           40732 non-null  float64
 25  vote_count             40732 non-null  float64
         40744 non-null  object
dtypes: float64(10), object(17)
memory usage: 8.7+ MB

In [ ]:
df.isna().sum()

In [ ]:
df = df.drop(columns=['averageRating','numVotes\r','runtimeMinutes'])
df

In [ ]:
jhg

In [ ]:
df["movie id"] = df['tconst'].astype(str) + df['imdb_id'].astype(str)
df

In [ ]:
df = df.dropna(subset=['movie id'])
df

In [ ]:
# remove nan from concattenated column
df['movie id'].fillna('', inplace=True)
df

In [ ]:
# remove ids that are 0
df = df.loc[ df['imdb_id']!='0']
df

In [ ]:
df = df.reset_index(drop=True)
df

In [ ]:
## saving the combined csv to disk
df.to_csv(FOLDER+'combined_tmdb_data.csv.gz',compression='gzip',index=False)

df = pd.read_csv(FOLDER+'combined_tmdb_data.csv.gz',lineterminator='\n')
df

In [ ]:
import json
with open('/Users/miran/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

In [ ]:
connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/tmdb"

In [ ]:
# create sqlite engine for a database called schools
engine = create_engine(connection)
# create connection to engine
conn = engine.connect()

In [ ]:
database_exists(connection)

In [ ]:
## Check if database exists, if not, create it
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print('Database created!')

In [ ]:
tmdb.to_sql('tmdb', engine, if_exists = 'replace')

In [ ]:
q = """SELECT * FROM tmdb;"""
pd.read_sql(q, engine)

In [ ]:
q = '''SHOW TABLES'''
pd.read_sql(q,engine)