## Basics data frame

In [1]:
import pandas as pd
# load data - change the path to match your drive!
basics = pd.read_csv('Data/title_basics.csv.gz')
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86707 entries, 0 to 86706
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86707 non-null  object
 1   titleType       86707 non-null  object
 2   primaryTitle    86707 non-null  object
 3   originalTitle   86707 non-null  object
 4   isAdult         86707 non-null  int64
 5   startYear       86707 non-null  float64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  86707 non-null  int64
 8   genres          86707 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 6.0+ MB

### Removing unwanted columns from Basics

In [2]:
basics = basics.drop(columns=['titleType', 'originalTitle','isAdult','endYear'])
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86707 entries, 0 to 86706
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86707 non-null  object
 1   primaryTitle    86707 non-null  object
 2   startYear       86707 non-null  float64
 3   runtimeMinutes  86707 non-null  int64
 4   genres          86707 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 3.3+ MB

### Changing the name of column 'tconst' to Movie_ID

In [3]:
basics = basics.rename(columns ={'tconst':'Movie_ID'})
basics.info()
basics.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86707 entries, 0 to 86706
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Movie_ID        86707 non-null  object
 1   primaryTitle    86707 non-null  object
 2   startYear       86707 non-null  float64
 3   runtimeMinutes  86707 non-null  int64
 4   genres          86707 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 3.3+ MB

,Movie_ID,primaryTitle,startYear,runtimeMinutes,genres
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70,Drama
2,tt0069049,The Other Side of the Wind,2018.0,122,Drama
3,tt0088751,The Naked Monster,2005.0,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,Crime and Punishment,2002.0,126,Drama

In [4]:
## get the unique ids
unique_basics = sorted(basics['Movie_ID'].unique())
unique_basics[:2]

['tt0035423', 'tt0062336']

In [5]:
## make integers for each id
int_basics = range(len(unique_basics))
int_basics

range(0, 86707)

In [6]:
## Converting our range to a list and showing the first 10 values
example_range = list(int_basics)
example_range[:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
# Zip together the unique_ids as the keys and the int_ids as the values
id_map = dict(zip(unique_basics,int_basics))
id_map

{'tt0035423': 0,
 'tt0062336': 1,
 'tt0069049': 2,
 'tt0088751': 3,
 'tt0096056': 4,
 'tt0100275': 5,
 'tt0103340': 6,
 'tt0108549': 7,
 'tt0113026': 8,
 'tt0113092': 9,
 'tt0114447': 10,
 'tt0115937': 11,
 'tt0116391': 12,
 'tt0116628': 13,
 'tt0116916': 14,
 'tt0116991': 15,
 'tt0117743': 16,
 'tt0118141': 17,
 'tt0118589': 18,
 'tt0118652': 19,
 'tt0118694': 20,
 'tt0118710': 21,
 'tt0118852': 22,
 'tt0118926': 23,
 'tt0119004': 24,
 'tt0119231': 25,
 'tt0119273': 26,
 'tt0119495': 27,
 'tt0119806': 28,
 'tt0119830': 29,
 'tt0119966': 30,
 'tt0119970': 31,
 'tt0119980': 32,
 'tt0120166': 33,
 'tt0120202': 34,
 'tt0120263': 35,
 'tt0120467': 36,
 'tt0120589': 37,
 'tt0120607': 38,
 'tt0120624': 39,
 'tt0120626': 40,
 'tt0120630': 41,
 'tt0120667': 42,
 'tt0120673': 43,
 'tt0120679': 44,
 'tt0120681': 45,
 'tt0120698': 46,
 'tt0120733': 47,
 'tt0120737': 48,
 'tt0120753': 49,
 'tt0120755': 50,
 'tt0120804': 51,
 'tt0120807': 52,
 'tt0120824': 53,
 'tt0120903': 54,
 'tt0120912': 55,
 'tt0120913': 56,
 'tt0120917': 57,
 'tt0121164': 58,
 'tt0121765': 59,
 'tt0121766': 60,
 'tt0122161': 61,
 'tt0122247': 62,
 'tt0122459': 63,
 'tt0123003': 64,
 'tt0123055': 65,
 'tt0123581': 66,
 'tt0124889': 67,
 'tt0125022': 68,
 'tt0126029': 69,
 'tt0126899': 70,
 'tt0127349': 71,
 'tt0128158': 72,
 'tt0128165': 73,
 'tt0128216': 74,
 'tt0130623': 75,
 'tt0131597': 76,
 'tt0131704': 77,
 'tt0132078': 78,
 'tt0132245': 79,
 'tt0132885': 80,
 'tt0132910': 81,
 'tt0133063': 82,
 'tt0133152': 83,
 'tt0133240': 84,
 'tt0133752': 85,
 'tt0134084': 86,
 'tt0134630': 87,
 'tt0134847': 88,
 'tt0134983': 89,
 'tt0135707': 90,
 'tt0135991': 91,
 'tt0136517': 92,
 'tt0137204': 93,
 'tt0137698': 94,
 'tt0138288': 95,
 'tt0138353': 96,
 'tt0138524': 97,
 'tt0138583': 98,
 'tt0138749': 99,
 'tt0138818': 100,
 'tt0138927': 101,
 'tt0138946': 102,
 'tt0139159': 103,
 'tt0139297': 104,
 'tt0139388': 105,
 'tt0139500': 106,
 'tt0139654': 107,
 'tt0140806': 108,
 'tt0141120': 109,
 'tt0141907': 110,
 'tt0141926': 111,
 'tt0142634': 112,
 'tt0142650': 113,
 'tt0143344': 114,
 'tt0143558': 115,
 'tt0144084': 116,
 'tt0144142': 117,
 'tt0144280': 118,
 'tt0144528': 119,
 'tt0144574': 120,
 'tt0144608': 121,
 'tt0144964': 122,
 'tt0145487': 123,
 'tt0146063': 124,
 'tt0146272': 125,
 'tt0146309': 126,
 'tt0146316': 127,
 'tt0146803': 128,
 'tt0146882': 129,
 'tt0146984': 130,
 'tt0147447': 131,
 'tt0147486': 132,
 'tt0148415': 133,
 'tt0148421': 134,
 'tt0149253': 135,
 'tt0149367': 136,
 'tt0149624': 137,
 'tt0150021': 138,
 'tt0151150': 139,
 'tt0151299': 140,
 'tt0151309': 141,
 'tt0151685': 142,
 'tt0152083': 143,
 'tt0152772': 144,
 'tt0153012': 145,
 'tt0153100': 146,
 'tt0153464': 147,
 'tt0153516': 148,
 'tt0153517': 149,
 'tt0153533': 150,
 'tt0154187': 151,
 'tt0155150': 152,
 'tt0156020': 153,
 'tt0156100': 154,
 'tt0156323': 155,
 'tt0156376': 156,
 'tt0156741': 157,
 'tt0156757': 158,
 'tt0156807': 159,
 'tt0156812': 160,
 'tt0156841': 161,
 'tt0156942': 162,
 'tt0157007': 163,
 'tt0157122': 164,
 'tt0157191': 165,
 'tt0157202': 166,
 'tt0157262': 167,
 'tt0157472': 168,
 'tt0157583': 169,
 'tt0157836': 170,
 'tt0158033': 171,
 'tt0158622': 172,
 'tt0159273': 173,
 'tt0159290': 174,
 'tt0159291': 175,
 'tt0159365': 176,
 'tt0159371': 177,
 'tt0159378': 178,
 'tt0159396': 179,
 'tt0159784': 180,
 'tt0160009': 181,
 'tt0160127': 182,
 'tt0160184': 183,
 'tt0160239': 184,
 'tt0160240': 185,
 'tt0160256': 186,
 'tt0160261': 187,
 'tt0160270': 188,
 'tt0160275': 189,
 'tt0160289': 190,
 'tt0160399': 191,
 'tt0160403': 192,
 'tt0160425': 193,
 'tt0160434': 194,
 'tt0160447': 195,
 'tt0160480': 196,
 'tt0160484': 197,
 'tt0160495': 198,
 'tt0160547': 199,
 'tt0160611': 200,
 'tt0160616': 201,
 'tt0160644': 202,
 'tt0160652': 203,
 'tt0160663': 204,
 'tt0160706': 205,
 'tt0160710': 206,
 'tt0160749': 207,
 'tt0160751': 208,
 'tt0160759': 209,
 'tt0160797': 210,
 'tt0160859': 211,
 'tt0160870': 212,
 'tt0160905': 213,
 'tt0161003': 214,
 'tt0161081': 215,
 'tt0161083': 216,
 'tt0161088': 217,
 'tt0161216': 218,
 'tt0161860': 219,
 'tt0162030': 220,
 'tt0162203': 221,
 'tt0162222': 222,
 'tt0162346': 223,
 'tt0162650': 224,
 'tt0162711': 225,
 'tt0162838': 226,
 'tt0162983': 227,
 'tt0163025': 228,
 'tt0163080': 229,
 'tt0163125': 230,
 'tt0163246': 231,
 'tt0163566': 232,
 'tt0163596': 233,
 'tt0163676': 234,
 'tt0163745': 235,
 'tt0163764': 236,
 'tt0163978': 237,
 'tt0163983': 238,
 'tt0164003': 239,
 'tt0164052': 240,
 'tt0164182': 241,
 'tt0164184': 242,
 'tt0164192': 243,
 'tt0164212': 244,
 'tt0164318': 245,
 'tt0164334': 246,
 'tt0164545': 247,
 'tt0164810': 248,
 'tt0164953': 249,
 'tt0164961': 250,
 'tt0165361': 251,
 'tt0165400': 252,
 'tt0165452': 253,
 'tt0165642': 254,
 'tt0165713': 255,
 'tt0165800': 256,
 'tt0165832': 257,
 'tt0165928': 258,
 'tt0165929': 259,
 'tt0165982': 260,
 'tt0166013': 261,
 'tt0166110': 262,
 'tt0166158': 263,
 'tt0166186': 264,
 'tt0166192': 265,
 'tt0166276': 266,
 'tt0166339': 267,
 'tt0166370': 268,
 'tt0166813': 269,
 'tt0166924': 270,
 'tt0167116': 271,
 'tt0167183': 272,
 'tt0167190': 273,
 'tt0167203': 274,
 'tt0167260': 275,
 'tt0167261': 276,
 'tt0167360': 277,
 'tt0167456': 278,
 'tt0168446': 279,
 'tt0168504': 280,
 'tt0168509': 281,
 'tt0168578': 282,
 'tt0168612': 283,
 'tt0168629': 284,
 'tt0168631': 285,
 'tt0168714': 286,
 'tt0168786': 287,
 'tt0168856': 288,
 'tt0169102': 289,
 'tt0169122': 290,
 'tt0169324': 291,
 'tt0169543': 292,
 'tt0169579': 293,
 'tt0170008': 294,
 'tt0170016': 295,
 'tt0170367': 296,
 'tt0170452': 297,
 'tt0170508': 298,
 'tt0170691': 299,
 'tt0171339': 300,
 'tt0171356': 301,
 'tt0171359': 302,
 'tt0171433': 303,
 'tt0171580': 304,
 'tt0171827': 305,
 'tt0172156': 306,
 'tt0172182': 307,
 'tt0172464': 308,
 'tt0172495': 309,
 'tt0172543': 310,
 'tt0172632': 311,
 'tt0172699': 312,
 'tt0172794': 313,
 'tt0172854': 314,
 'tt0172949': 315,
 'tt0172995': 316,
 'tt0173498': 317,
 'tt0173568': 318,
 'tt0173716': 319,
 'tt0173840': 320,
 'tt0174336': 321,
 'tt0174480': 322,
 'tt0174646': 323,
 'tt0174732': 324,
 'tt0175114': 325,
 'tt0175142': 326,
 'tt0175526': 327,
 'tt0176185': 328,
 'tt0176244': 329,
 'tt0176578': 330,
 'tt0176579': 331,
 'tt0176694': 332,
 'tt0176783': 333,
 'tt0176883': 334,
 'tt0177068': 335,
 'tt0177185': 336,
 'tt0177195': 337,
 'tt0177213': 338,
 'tt0177513': 339,
 'tt0177636': 340,
 'tt0177650': 341,
 'tt0177845': 342,
 'tt0177858': 343,
 'tt0177882': 344,
 'tt0177885': 345,
 'tt0177888': 346,
 'tt0177971': 347,
 'tt0177997': 348,
 'tt0178043': 349,
 'tt0178050': 350,
 'tt0178642': 351,
 'tt0179098': 352,
 'tt0179144': 353,
 'tt0179183': 354,
 'tt0179344': 355,
 'tt0179400': 356,
 'tt0179435': 357,
 'tt0179443': 358,
 'tt0179473': 359,
 'tt0179626': 360,
 'tt0179653': 361,
 'tt0179803': 362,
 'tt0179861': 363,
 'tt0180052': 364,
 'tt0180073': 365,
 'tt0180093': 366,
 'tt0180679': 367,
 'tt0180683': 368,
 'tt0180734': 369,
 'tt0181151': 370,
 'tt0181311': 371,
 'tt0181430': 372,
 'tt0181536': 373,
 'tt0181689': 374,
 'tt0181739': 375,
 'tt0181836': 376,
 'tt0181852': 377,
 'tt0181865': 378,
 'tt0181875': 379,
 'tt0181945': 380,
 'tt0181984': 381,
 'tt0182000': 382,
 'tt0182027': 383,
 'tt0182295': 384,
 'tt0182508': 385,
 'tt0183056': 386,
 'tt0183113': 387,
 'tt0183142': 388,
 'tt0183280': 389,
 'tt0183423': 390,
 'tt0183488': 391,
 'tt0183505': 392,
 'tt0183523': 393,
 'tt0183550': 394,
 'tt0183639': 395,
 'tt0183649': 396,
 'tt0183659': 397,
 'tt0183790': 398,
 'tt0183808': 399,
 'tt0183869': 400,
 'tt0184009': 401,
 'tt0184457': 402,
 'tt0184719': 403,
 'tt0184791': 404,
 'tt0184858': 405,
 'tt0184894': 406,
 'tt0184907': 407,
 'tt0185007': 408,
 'tt0185014': 409,
 'tt0185183': 410,
 'tt0185431': 411,
 'tt0185542': 412,
 'tt0186029': 413,
 'tt0186045': 414,
 'tt0186151': 415,
 'tt0186183': 416,
 'tt0186202': 417,
 'tt0186221': 418,
 'tt0186454': 419,
 'tt0186549': 420,
 'tt0186566': 421,
 'tt0186589': 422,
 'tt0186719': 423,
 'tt0186785': 424,
 'tt0186894': 425,
 'tt0186975': 426,
 'tt0187078': 427,
 'tt0187387': 428,
 'tt0187393': 429,
 'tt0187512': 430,
 'tt0187559': 431,
 'tt0187696': 432,
 'tt0187738': 433,
 'tt0187750': 434,
 'tt0187761': 435,
 'tt0187847': 436,
 'tt0188045': 437,
 'tt0188055': 438,
 'tt0188128': 439,
 'tt0188160': 440,
 'tt0188453': 441,
 'tt0188490': 442,
 'tt0188518': 443,
 'tt0188575': 444,
 'tt0188688': 445,
 'tt0189192': 446,
 'tt0189456': 447,
 'tt0189541': 448,
 'tt0189998': 449,
 'tt0190052': 450,
 'tt0190138': 451,
 'tt0190332': 452,
 'tt0190374': 453,
 'tt0190398': 454,
 'tt0190449': 455,
 'tt0190524': 456,
 'tt0190590': 457,
 'tt0190736': 458,
 'tt0190861': 459,
 'tt0190865': 460,
 'tt0190938': 461,
 'tt0190994': 462,
 'tt0191037': 463,
 'tt0191074': 464,
 'tt0191133': 465,
 'tt0191177': 466,
 'tt0191211': 467,
 'tt0191242': 468,
 'tt0191397': 469,
 'tt0191636': 470,
 'tt0191754': 471,
 'tt0191787': 472,
 'tt0191996': 473,
 'tt0192023': 474,
 'tt0192071': 475,
 'tt0192110': 476,
 'tt0192111': 477,
 'tt0192126': 478,
 'tt0192237': 479,
 'tt0192255': 480,
 'tt0192295': 481,
 'tt0192346': 482,
 'tt0192455': 483,
 'tt0192528': 484,
 'tt0192614': 485,
 'tt0192719': 486,
 'tt0192731': 487,
 'tt0192788': 488,
 'tt0192789': 489,
 'tt0192912': 490,
 'tt0192947': 491,
 'tt0192949': 492,
 'tt0193011': 493,
 'tt0193135': 494,
 'tt0193318': 495,
 'tt0193364': 496,
 'tt0193365': 497,
 'tt0193537': 498,
 'tt0193545': 499,
 'tt0193560': 500,
 'tt0193598': 501,
 'tt0193854': 502,
 'tt0193859': 503,
 'tt0194104': 504,
 'tt0194218': 505,
 'tt0194368': 506,
 'tt0194410': 507,
 'tt0194519': 508,
 'tt0195108': 509,
 'tt0195234': 510,
 'tt0195308': 511,
 'tt0195393': 512,
 'tt0195551': 513,
 'tt0195631': 514,
 'tt0195685': 515,
 'tt0195714': 516,
 'tt0195778': 517,
 'tt0195857': 518,
 'tt0195860': 519,
 'tt0195944': 520,
 'tt0195945': 521,
 'tt0196068': 522,
 'tt0196069': 523,
 'tt0196106': 524,
 'tt0196158': 525,
 'tt0196216': 526,
 'tt0196219': 527,
 'tt0196223': 528,
 'tt0196229': 529,
 'tt0196708': 530,
 'tt0196723': 531,
 'tt0197072': 532,
 'tt0197096': 533,
 'tt0197299': 534,
 'tt0197384': 535,
 'tt0197633': 536,
 'tt0197644': 537,
 'tt0197646': 538,
 'tt0197750': 539,
 'tt0197753': 540,
 'tt0197862': 541,
 'tt0197929': 542,
 'tt0197951': 543,
 'tt0197996': 544,
 'tt0198013': 545,
 'tt0198021': 546,
 'tt0198284': 547,
 'tt0198386': 548,
 'tt0198460': 549,
 'tt0198748': 550,
 'tt0198781': 551,
 'tt0198893': 552,
 'tt0198903': 553,
 'tt0199007': 554,
 'tt0199129': 555,
 'tt0199290': 556,
 'tt0199314': 557,
 'tt0199481': 558,
 'tt0199504': 559,
 'tt0199602': 560,
 'tt0199626': 561,
 'tt0199650': 562,
 'tt0199725': 563,
 'tt0199727': 564,
 'tt0199744': 565,
 'tt0199753': 566,
 'tt0199898': 567,
 'tt0199974': 568,
 'tt0200027': 569,
 'tt0200171': 570,
 'tt0200192': 571,
 'tt0200422': 572,
 'tt0200427': 573,
 'tt0200465': 574,
 'tt0200472': 575,
 'tt0200483': 576,
 'tt0200525': 577,
 'tt0200530': 578,
 'tt0200550': 579,
 'tt0200669': 580,
 'tt0200720': 581,
 'tt0200940': 582,
 'tt0200954': 583,
 'tt0201020': 584,
 'tt0201275': 585,
 'tt0201394': 586,
 'tt0201479': 587,
 'tt0201485': 588,
 'tt0201670': 589,
 'tt0201694': 590,
 'tt0201726': 591,
 'tt0201737': 592,
 'tt0201844': 593,
 'tt0201888': 594,
 'tt0201899': 595,
 'tt0201901': 596,
 'tt0201934': 597,
 'tt0202236': 598,
 'tt0202294': 599,
 'tt0202314': 600,
 'tt0202360': 601,
 'tt0202402': 602,
 'tt0202452': 603,
 'tt0202458': 604,
 'tt0202470': 605,
 'tt0202487': 606,
 'tt0202560': 607,
 'tt0202623': 608,
 'tt0202641': 609,
 'tt0202677': 610,
 'tt0202695': 611,
 'tt0202711': 612,
 'tt0202829': 613,
 'tt0202856': 614,
 'tt0202989': 615,
 'tt0203009': 616,
 'tt0203019': 617,
 'tt0203047': 618,
 'tt0203053': 619,
 'tt0203078': 620,
 'tt0203119': 621,
 'tt0203144': 622,
 'tt0203166': 623,
 'tt0203206': 624,
 'tt0203230': 625,
 'tt0203289': 626,
 'tt0203297': 627,
 'tt0203536': 628,
 'tt0203540': 629,
 'tt0203580': 630,
 'tt0203584': 631,
 'tt0203632': 632,
 'tt0203755': 633,
 'tt0203830': 634,
 'tt0203835': 635,
 'tt0203912': 636,
 'tt0203940': 637,
 'tt0203952': 638,
 'tt0203975': 639,
 'tt0204137': 640,
 'tt0204175': 641,
 'tt0204250': 642,
 'tt0204313': 643,
 'tt0204322': 644,
 'tt0204350': 645,
 'tt0204352': 646,
 'tt0204382': 647,
 'tt0204619': 648,
 'tt0204626': 649,
 'tt0204640': 650,
 'tt0204679': 651,
 'tt0204698': 652,
 'tt0204700': 653,
 'tt0204885': 654,
 'tt0204932': 655,
 'tt0204933': 656,
 'tt0204946': 657,
 'tt0205177': 658,
 'tt0205271': 659,
 'tt0205380': 660,
 'tt0205418': 661,
 'tt0205461': 662,
 'tt0205498': 663,
 'tt0205521': 664,
 'tt0205526': 665,
 'tt0205729': 666,
 'tt0205738': 667,
 'tt0205778': 668,
 'tt0205873': 669,
 'tt0205936': 670,
 'tt0206075': 671,
 'tt0206088': 672,
 'tt0206098': 673,
 'tt0206113': 674,
 'tt0206184': 675,
 'tt0206211': 676,
 'tt0206223': 677,
 'tt0206226': 678,
 'tt0206275': 679,
 'tt0206314': 680,
 'tt0206367': 681,
 'tt0206420': 682,
 'tt0206545': 683,
 'tt0206608': 684,
 'tt0206634': 685,
 'tt0206694': 686,
 'tt0206742': 687,
 'tt0206762': 688,
 'tt0206778': 689,
 'tt0206917': 690,
 'tt0206926': 691,
 'tt0206963': 692,
 'tt0207036': 693,
 'tt0207161': 694,
 'tt0207163': 695,
 'tt0207198': 696,
 'tt0207201': 697,
 'tt0207333': 698,
 'tt0207337': 699,
 'tt0207377': 700,
 'tt0207501': 701,
 'tt0207524': 702,
 'tt0207585': 703,
 'tt0207631': 704,
 'tt0207635': 705,
 'tt0207638': 706,
 'tt0207745': 707,
 'tt0207988': 708,
 'tt0208003': 709,
 'tt0208017': 710,
 'tt0208037': 711,
 'tt0208050': 712,
 'tt0208092': 713,
 'tt0208196': 714,
 'tt0208204': 715,
 'tt0208298': 716,
 'tt0208412': 717,
 'tt0208491': 718,
 'tt0208870': 719,
 'tt0208874': 720,
 'tt0208883': 721,
 'tt0208889': 722,
 'tt0208899': 723,
 'tt0208910': 724,
 'tt0208911': 725,
 'tt0208942': 726,
 'tt0208988': 727,
 'tt0208990': 728,
 'tt0208993': 729,
 'tt0209020': 730,
 'tt0209037': 731,
 'tt0209077': 732,
 'tt0209109': 733,
 'tt0209144': 734,
 'tt0209163': 735,
 'tt0209180': 736,
 'tt0209253': 737,
 'tt0209279': 738,
 'tt0209322': 739,
 'tt0209475': 740,
 'tt0209486': 741,
 'tt0209941': 742,
 'tt0209958': 743,
 'tt0210065': 744,
 'tt0210070': 745,
 'tt0210075': 746,
 'tt0210094': 747,
 'tt0210149': 748,
 'tt0210223': 749,
 'tt0210299': 750,
 'tt0210357': 751,
 'tt0210358': 752,
 'tt0210362': 753,
 'tt0210382': 754,
 'tt0210470': 755,
 'tt0210567': 756,
 'tt0210584': 757,
 'tt0210616': 758,
 'tt0210756': 759,
 'tt0210776': 760,
 'tt0210816': 761,
 'tt0210930': 762,
 'tt0210945': 763,
 'tt0210952': 764,
 'tt0210953': 765,
 'tt0211181': 766,
 'tt0211279': 767,
 'tt0211296': 768,
 'tt0211309': 769,
 'tt0211387': 770,
 'tt0211423': 771,
 'tt0211443': 772,
 'tt0211465': 773,
 'tt0211492': 774,
 'tt0211661': 775,
 'tt0211718': 776,
 'tt0211915': 777,
 'tt0211919': 778,
 'tt0211933': 779,
 'tt0211938': 780,
 'tt0211941': 781,
 'tt0211946': 782,
 'tt0212048': 783,
 'tt0212059': 784,
 'tt0212132': 785,
 'tt0212215': 786,
 'tt0212271': 787,
 'tt0212292': 788,
 'tt0212294': 789,
 'tt0212298': 790,
 'tt0212338': 791,
 'tt0212346': 792,
 'tt0212360': 793,
 'tt0212380': 794,
 'tt0212495': 795,
 'tt0212604': 796,
 'tt0212667': 797,
 'tt0212712': 798,
 'tt0212719': 799,
 'tt0212720': 800,
 'tt0212742': 801,
 'tt0212815': 802,
 'tt0212826': 803,
 'tt0212827': 804,
 'tt0212830': 805,
 'tt0212867': 806,
 'tt0212873': 807,
 'tt0212879': 808,
 'tt0212881': 809,
 'tt0212910': 810,
 'tt0212974': 811,
 'tt0212985': 812,
 'tt0213113': 813,
 'tt0213127': 814,
 'tt0213149': 815,
 'tt0213203': 816,
 'tt0213205': 817,
 'tt0213231': 818,
 'tt0213266': 819,
 'tt0213446': 820,
 'tt0213561': 821,
 'tt0213642': 822,
 'tt0213690': 823,
 'tt0213790': 824,
 'tt0213802': 825,
 'tt0213847': 826,
 'tt0213890': 827,
 'tt0213985': 828,
 'tt0214032': 829,
 'tt0214106': 830,
 'tt0214140': 831,
 'tt0214277': 832,
 'tt0214388': 833,
 'tt0214520': 834,
 'tt0214529': 835,
 'tt0214548': 836,
 'tt0214619': 837,
 'tt0214638': 838,
 'tt0214646': 839,
 'tt0214723': 840,
 'tt0214728': 841,
 'tt0214757': 842,
 'tt0214871': 843,
 'tt0214878': 844,
 'tt0215129': 845,
 'tt0215135': 846,
 'tt0215139': 847,
 'tt0215223': 848,
 'tt0215232': 849,
 'tt0215458': 850,
 'tt0215516': 851,
 'tt0215519': 852,
 'tt0215545': 853,
 'tt0215679': 854,
 'tt0215681': 855,
 'tt0215719': 856,
 'tt0215727': 857,
 'tt0215750': 858,
 'tt0215841': 859,
 'tt0215941': 860,
 'tt0216105': 861,
 'tt0216196': 862,
 'tt0216216': 863,
 'tt0216250': 864,
 'tt0216256': 865,
 'tt0216279': 866,
 'tt0216290': 867,
 'tt0216417': 868,
 'tt0216522': 869,
 'tt0216578': 870,
 'tt0216584': 871,
 'tt0216587': 872,
 'tt0216620': 873,
 'tt0216625': 874,
 'tt0216651': 875,
 'tt0216669': 876,
 'tt0216689': 877,
 'tt0216746': 878,
 'tt0216772': 879,
 'tt0216787': 880,
 'tt0216799': 881,
 'tt0216800': 882,
 'tt0216837': 883,
 'tt0216841': 884,
 'tt0216890': 885,
 'tt0216930': 886,
 'tt0216949': 887,
 'tt0216982': 888,
 'tt0216990': 889,
 'tt0217019': 890,
 'tt0217031': 891,
 'tt0217086': 892,
 'tt0217107': 893,
 'tt0217119': 894,
 'tt0217135': 895,
 'tt0217287': 896,
 'tt0217319': 897,
 'tt0217331': 898,
 'tt0217355': 899,
 'tt0217505': 900,
 'tt0217570': 901,
 'tt0217621': 902,
 'tt0217630': 903,
 'tt0217654': 904,
 'tt0217664': 905,
 'tt0217686': 906,
 'tt0217756': 907,
 'tt0217758': 908,
 'tt0217780': 909,
 'tt0217787': 910,
 'tt0217788': 911,
 'tt0217802': 912,
 'tt0217824': 913,
 'tt0217869': 914,
 'tt0217978': 915,
 'tt0217979': 916,
 'tt0218000': 917,
 'tt0218032': 918,
 'tt0218053': 919,
 'tt0218067': 920,
 'tt0218080': 921,
 'tt0218107': 922,
 'tt0218112': 923,
 'tt0218126': 924,
 'tt0218138': 925,
 'tt0218140': 926,
 'tt0218141': 927,
 'tt0218182': 928,
 'tt0218298': 929,
 'tt0218323': 930,
 'tt0218378': 931,
 'tt0218379': 932,
 'tt0218390': 933,
 'tt0218426': 934,
 'tt0218475': 935,
 'tt0218533': 936,
 'tt0218561': 937,
 'tt0218581': 938,
 'tt0218616': 939,
 'tt0218619': 940,
 'tt0218625': 941,
 'tt0218641': 942,
 'tt0218727': 943,
 'tt0218741': 944,
 'tt0218800': 945,
 'tt0218817': 946,
 'tt0218839': 947,
 'tt0218864': 948,
 'tt0218922': 949,
 'tt0218967': 950,
 'tt0218978': 951,
 'tt0219171': 952,
 'tt0219179': 953,
 'tt0219210': 954,
 'tt0219214': 955,
 'tt0219223': 956,
 'tt0219272': 957,
 'tt0219288': 958,
 'tt0219327': 959,
 'tt0219333': 960,
 'tt0219336': 961,
 'tt0219338': 962,
 'tt0219374': 963,
 'tt0219400': 964,
 'tt0219408': 965,
 'tt0219469': 966,
 'tt0219519': 967,
 'tt0219636': 968,
 'tt0219640': 969,
 'tt0219643': 970,
 'tt0219653': 971,
 'tt0219687': 972,
 'tt0219699': 973,
 'tt0219756': 974,
 'tt0219822': 975,
 'tt0219854': 976,
 'tt0219952': 977,
 'tt0219957': 978,
 'tt0219965': 979,
 'tt0220005': 980,
 'tt0220034': 981,
 'tt0220099': 982,
 'tt0220100': 983,
 'tt0220122': 984,
 'tt0220157': 985,
 'tt0220322': 986,
 'tt0220331': 987,
 'tt0220332': 988,
 'tt0220343': 989,
 'tt0220371': 990,
 'tt0220399': 991,
 'tt0220506': 992,
 'tt0220514': 993,
 'tt0220580': 994,
 'tt0220605': 995,
 'tt0220607': 996,
 'tt0220627': 997,
 'tt0220631': 998,
 'tt0220651': 999,
 ...}

In [8]:
## demonstrating using id_map to get iteger id 
basics_str_id ="tt0118141"
id_map[basics_str_id]

17

In [9]:
basics['Movie_ID'].map(id_map)

0            0
1            1
2            2
3            3
4            4
         ...
86702    86702
86703    86703
86704    86704
86705    86705
86706    86706
Name: Movie_ID, Length: 86707, dtype: int64

In [10]:
## overwriting the original id column 
basics['Movie_ID'] = basics['Movie_ID'].replace(id_map)

basics.head(3)

,Movie_ID,primaryTitle,startYear,runtimeMinutes,genres
0,0,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance"
1,1,The Tango of the Widower and Its Distorting Mi...,2020.0,70,Drama
2,2,The Other Side of the Wind,2018.0,122,Drama

In [11]:
# Using pd.DataFrame and a dictionary
id_lookup = pd.DataFrame({'str_id': id_map.keys(),
                         'int_id':id_map.values()})
id_lookup.head(3)

      str_id  int_id
0  tt0035423       0
1  tt0062336       1
2  tt0069049       2

### Genres separation and creating columns

In [12]:
## adding expand=True
basics['genre_split'] = basics['genres'].str.split(',')

In [13]:
## exploding the column of lists
exploded = basics.explode('genre_split')
exploded.head()

,Movie_ID,primaryTitle,startYear,runtimeMinutes,genres,genre_split
0,0,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance",Comedy
0,0,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance",Fantasy
0,0,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance",Romance
1,1,The Tango of the Widower and Its Distorting Mi...,2020.0,70,Drama,Drama
2,2,The Other Side of the Wind,2018.0,122,Drama,Drama

In [14]:
## saving the unique values from the exploded column
cols_to_make = exploded['genre_split'].dropna().unique()
cols_to_make

array(['Comedy', 'Fantasy', 'Romance', 'Drama', 'Horror', 'Sci-Fi',
       'Biography', 'Mystery', 'Musical', 'Action', 'Adventure', 'Crime',
       'Thriller', 'Music', 'Animation', 'Family', 'History', 'War',
       'Sport', 'Western', 'Adult', 'Short', 'Reality-TV', 'News',
       'Talk-Show', 'Game-Show'], dtype=object)

In [15]:
for col in cols_to_make:
    basics[col] = basics['genres'].str.contains(col)
basics.head()

,Movie_ID,primaryTitle,startYear,runtimeMinutes,genres,genre_split,Comedy,Fantasy,Romance,Drama,...,History,War,Sport,Western,Adult,Short,Reality-TV,News,Talk-Show,Game-Show
0,0,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]",True,True,True,False,...,False,False,False,False,False,False,False,False,False,False
1,1,The Tango of the Widower and Its Distorting Mi...,2020.0,70,Drama,[Drama],False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2,2,The Other Side of the Wind,2018.0,122,Drama,[Drama],False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
3,3,The Naked Monster,2005.0,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]",True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,4,Crime and Punishment,2002.0,126,Drama,[Drama],False,False,False,True,...,False,False,False,False,False,False,False,False,False,False

In [16]:
# drop transactions clumns
basics = basics.drop(columns=['genres','genre_split'])
basics.head()

,Movie_ID,primaryTitle,startYear,runtimeMinutes,Comedy,Fantasy,Romance,Drama,Horror,Sci-Fi,...,History,War,Sport,Western,Adult,Short,Reality-TV,News,Talk-Show,Game-Show
0,0,Kate & Leopold,2001.0,118,True,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,The Tango of the Widower and Its Distorting Mi...,2020.0,70,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2,The Other Side of the Wind,2018.0,122,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,3,The Naked Monster,2005.0,100,True,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False
4,4,Crime and Punishment,2002.0,126,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [17]:
## save data for next lesson
basics.to_csv('basics.csv', index=False)

## Ratings Dataframe

In [18]:
ratings = pd.read_csv('Data/title_ratings.csv.gz')
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499155 entries, 0 to 499154
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         499155 non-null  object
 1   averageRating  499155 non-null  float64
 2   numVotes       499155 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 11.4+ MB

### Changing the name of column 'tconst' to Movie_ID

In [19]:
ratings = ratings.rename(columns ={'tconst':'Movie_ID'})
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499155 entries, 0 to 499154
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Movie_ID       499155 non-null  object
 1   averageRating  499155 non-null  float64
 2   numVotes       499155 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 11.4+ MB

In [20]:
## save data for next lesson
ratings.to_csv('ratings.csv', index=False)

### TMDB_API Dataframe

In [21]:
tmdb_api = pd.read_csv('Data/tmdb_results_combined.csv.gz')
tmdb_api.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2569 entries, 0 to 2568
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2569 non-null   object
 1   adult                  2568 non-null   float64
 2   backdrop_path          1400 non-null   object
 3   belongs_to_collection  205 non-null    object
 4   budget                 2568 non-null   float64
 5   genres                 2568 non-null   object
 6   homepage               172 non-null    object
 7   id                     2568 non-null   float64
 8   original_language      2568 non-null   object
 9   original_title         2568 non-null   object
 10  overview               2518 non-null   object
 11  popularity             2568 non-null   float64
 12  poster_path            2310 non-null   object
 13  production_companies   2568 non-null   object
 14  production_countries   2568 non-null   object
 15  release_date           2549 non-null   object
 16  revenue                2568 non-null   float64
 17  runtime                2568 non-null   float64
 18  spoken_languages       2568 non-null   object
 19  status                 2568 non-null   object
 20  tagline                1103 non-null   object
 21  title                  2568 non-null   object
 22  video                  2568 non-null   float64
 23  vote_average           2568 non-null   float64
 24  vote_count             2568 non-null   float64
 25  certification          816 non-null    object
dtypes: float64(9), object(17)
memory usage: 522.0+ KB

### Removing unwanted columns from Ratings

In [22]:
tmdb_api = tmdb_api.drop(columns=['adult', 'backdrop_path', 'belongs_to_collection', 'genres','homepage', 'id',
                                  'original_language', 'original_title', 'overview','popularity','poster_path',
                                  'production_companies', 'production_countries','release_date','runtime','spoken_languages',
                                  'status','tagline','title','video','vote_average','vote_count'])
tmdb_api.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2569 entries, 0 to 2568
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   imdb_id        2569 non-null   object
 1   budget         2568 non-null   float64
 2   revenue        2568 non-null   float64
 3   certification  816 non-null    object
dtypes: float64(2), object(2)
memory usage: 80.4+ KB

In [23]:
tmdb_api.head(2)

     imdb_id      budget  revenue certification
0          0         NaN      NaN           NaN
1  tt0113026  10000000.0      0.0           NaN

In [24]:
tmdb_api = tmdb_api.rename(columns ={'imdb_id':'Movie_ID'})
tmdb_api.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2569 entries, 0 to 2568
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Movie_ID       2569 non-null   object
 1   budget         2568 non-null   float64
 2   revenue        2568 non-null   float64
 3   certification  816 non-null    object
dtypes: float64(2), object(2)
memory usage: 80.4+ KB

In [25]:
## save data for next lesson
tmdb_api.to_csv('tmdb_api.csv', index=False)

## SQL

In [26]:
# imports
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
from urllib.parse import quote_plus as urlquote
# Create connection string using credentials following this format

In [27]:
import json
with open('/Users/miran/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [28]:
connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/movie"

In [29]:
# create sqlite engine for a database called schools
engine = create_engine(connection)
# create connection to engine
conn = engine.connect()

In [30]:
database_exists(connection)

True

In [31]:
movie = pd.read_csv('Data/title_basics.csv.gz')
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86707 entries, 0 to 86706
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86707 non-null  object
 1   titleType       86707 non-null  object
 2   primaryTitle    86707 non-null  object
 3   originalTitle   86707 non-null  object
 4   isAdult         86707 non-null  int64
 5   startYear       86707 non-null  float64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  86707 non-null  int64
 8   genres          86707 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 6.0+ MB

In [32]:
## Check if database exists, if not, create it
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print('Database created!')

It exists!

In [33]:
movie.to_sql('movie', engine, if_exists = 'replace')

86707

In [34]:
q = """SELECT * FROM movie;"""
pd.read_sql(q, engine)

,index,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,None,118,"Comedy,Fantasy,Romance"
1,1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,None,70,Drama
2,2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,None,122,Drama
3,3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,None,100,"Comedy,Horror,Sci-Fi"
4,4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,None,126,Drama
...,...,...,...,...,...,...,...,...,...,...
86702,86702,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,None,74,Drama
86703,86703,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,None,97,"Comedy,Drama,Fantasy"
86704,86704,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,None,51,Drama
86705,86705,tt9916190,movie,Safeguard,Safeguard,0,2020.0,None,95,"Action,Adventure,Thriller"
86706,86706,tt9916362,movie,Coven,Akelarre,0,2020.0,None,92,"Drama,History"

In [35]:
q = '''SHOW TABLES'''
pd.read_sql(q,engine)

  Tables_in_movie
0           movie