# Part 2.b

In [1]:
import pandas as pd
import numpy as np

### Concatenate the data into 1 dataframe for the remainder of the analysis.

In [2]:
year_2000 = pd.read_csv('Data/final_tmdb_data_2000.csv.gz')
year_2001 = pd.read_csv('Data/final_tmdb_data_2001.csv.gz')

In [3]:
df = pd.concat([year_2000, year_2001], axis=0)
df.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,"{'id': 1118731, 'name': 'Tom and Jerry Collect...",50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.897,2213.0,PG
2,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,"{'id': 1118731, 'name': 'Tom and Jerry Collect...",50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.897,2213.0,PG
3,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,"{'id': 1118731, 'name': 'Tom and Jerry Collect...",50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.897,2213.0,PG
4,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,"{'id': 1118731, 'name': 'Tom and Jerry Collect...",50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.897,2213.0,PG

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18226 entries, 0 to 7782
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                18226 non-null  object
 1   adult                  18224 non-null  float64
 2   backdrop_path          15773 non-null  object
 3   belongs_to_collection  8478 non-null   object
 4   budget                 18224 non-null  float64
 5   genres                 18224 non-null  object
 6   homepage               13935 non-null  object
 7   id                     18224 non-null  float64
 8   original_language      18224 non-null  object
 9   original_title         18224 non-null  object
 10  overview               17878 non-null  object
 11  popularity             18224 non-null  float64
 12  poster_path            17594 non-null  object
 13  production_companies   18224 non-null  object
 14  production_countries   18224 non-null  object
 15  release_date           18183 non-null  object
 16  revenue                18224 non-null  float64
 17  runtime                18224 non-null  float64
 18  spoken_languages       18224 non-null  object
 19  status                 18224 non-null  object
 20  tagline                15001 non-null  object
 21  title                  18224 non-null  object
 22  video                  18224 non-null  float64
 23  vote_average           18224 non-null  float64
 24  vote_count             18224 non-null  float64
 25  certification          14544 non-null  object
dtypes: float64(9), object(17)
memory usage: 3.8+ MB

In [5]:
df.duplicated().sum()

13704

In [6]:
df.drop_duplicates(inplace=True)

### How many movies had at least some valid financial information (values > 0 for budget OR revenue)?

In [7]:
budget = df['budget'] > 0
revenue = df['revenue'] > 0
df.loc[budget & revenue]

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
1,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,"{'id': 1118731, 'name': 'Tom and Jerry Collect...",50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,...,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.897,2213.0,PG
5483,tt0332280,0.0,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,NaN,29000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036.0,en,The Notebook,...,115603229.0,123.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,0.0,7.878,10299.0,PG-13
8228,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.114,2188.0,PG
8237,tt0120467,0.0,/knok3mNReKqPTplnnqz7E4dd7mD.jpg,NaN,120000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,19085.0,en,Vulgar,...,14904.0,87.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Everyone loves a clown... some more than others.,Vulgar,0.0,5.500,44.0,R
8240,tt0120630,0.0,/sivJXJ8JvVVSRaaBnHgzOboNBRQ.jpg,"{'id': 718551, 'name': 'Chicken Run Collection...",45000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,7443.0,en,Chicken Run,...,224834564.0,84.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,This ain't no chick flick. It's poultry in mot...,Chicken Run,0.0,6.700,4347.0,G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7332,tt0317962,0.0,/huXpCOLL68qZjVrGVBRvfvDUZpx.jpg,NaN,418500.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,354817.0,ml,വൺമാൻഷോ,...,3140000.0,139.0,"[{'english_name': 'Malayalam', 'iso_639_1': 'm...",Released,NaN,One Man Show,0.0,6.100,6.0,NaN
7584,tt0445841,0.0,/lO3XAxV38SC7ZuuNVdy6E6nOZac.jpg,NaN,12500000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,233308.0,zh,一個爛賭的傳說,...,123021750.0,94.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,NaN,A Gambler's Story,0.0,6.800,3.0,NaN
7621,tt0807944,0.0,NaN,NaN,500000.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,69401.0,ta,தீனா,...,500000.0,157.0,"[{'english_name': 'Tamil', 'iso_639_1': 'ta', ...",Released,NaN,Dheena,0.0,6.000,13.0,NaN
7638,tt1039952,0.0,/yTGmGjAd0gfpVK0ezoqWgx7AJkp.jpg,NaN,500000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,69399.0,ta,சிட்டிசன்,...,500000.0,157.0,"[{'english_name': 'Tamil', 'iso_639_1': 'ta', ...",Released,NaN,Citizen,0.0,6.633,15.0,NaN
7716,tt2457382,0.0,NaN,NaN,39175.0,"[{'id': 27, 'name': 'Horror'}]",NaN,500064.0,hi,Dafan,...,32124.0,100.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Dafan,0.0,0.000,0.0,NaN

### How many movies are there in each of the certification categories (G/PG/PG-13/R)?

In [9]:
df.groupby('certification').sum()

C:\Users\miran\AppData\Local\Temp\ipykernel_18100\2013827298.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('certification').sum()

,adult,budget,id,popularity,revenue,runtime,video,vote_average,vote_count
certification,,,,,,,,,
G,0.0,5.733537e+08,1389571.0,420.145,1.732448e+09,2207.0,1.0,159.931,36201.0
NC-17,4.0,0.000000e+00,1468469.0,7.399,1.167800e+04,318.0,0.0,37.223,33.0
NR,0.0,1.071401e+08,20208848.0,271.592,1.630075e+08,6997.0,0.0,328.076,9326.0
PG,0.0,1.618997e+09,3808086.0,1000.236,4.036978e+09,7160.0,0.0,417.516,93811.0
PG-13,0.0,5.661658e+09,8384803.0,2344.483,1.312231e+10,19243.0,0.0,1073.900,252093.0
R,0.0,4.558804e+09,31537774.0,3450.410,7.537095e+09,47823.0,0.0,2538.061,238329.0
Unrated,0.0,0.000000e+00,169801.0,4.334,0.000000e+00,88.0,0.0,5.800,4.0

### What is the average revenue per certification category?

In [ ]:
ave = df_merg.groupby(['certification'])['revenue'].apply(lambda x:x.mean())
ave

### What is the average budget per certification category?

In [ ]:
bud = df_merg.groupby(['certification'])['budget'].apply(lambda x:x.mean())
bud

## Data was collected from TMBD
https://www.themoviedb.org/about/logos-attribution