# Part 1

## Filtering/Cleaning

In [1]:
import pandas as pd
import numpy as np

### Title Basics

In [2]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [3]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10354729 entries, 0 to 10354728
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 711.0+ MB

In [4]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [5]:
# Change tconst to imdb id
basics =basics.rename(columns={'tconst':'imdb id'})
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10354729 entries, 0 to 10354728
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   imdb id         object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 711.0+ MB

#### Replace "\N" with np.nan

In [6]:
basics['runtimeMinutes']= basics['runtimeMinutes'].replace('')

In [7]:
basics = basics.replace({'\\N':np.nan})

In [8]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10354729 entries, 0 to 10354728
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   imdb id         object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 711.0+ MB

In [9]:
basics.head()

,imdb id,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

#### Eliminate movies that are null for runtimeMinutes and genre

In [10]:
basics.dropna(subset =['runtimeMinutes','genres'], inplace= True)

In [11]:
basics.head()

,imdb id,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

#### Keep only titleType == Movie

In [12]:
basics_mov = basics[basics['titleType']== 'movie']
basics_mov.head()

,imdb id,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,NaN,100,"Documentary,News,Sport"
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"

#### keep startYear 2000-2022

In [13]:
basics_mov['startYear'].value_counts()

2018    14469
2017    14446
2019    14215
2016    14036
2015    13559
        ...
1894        1
1899        1
1904        1
1897        1
2028        1
Name: startYear, Length: 132, dtype: int64

In [14]:
basics_mov = basics_mov.astype({"startYear": float})
basics_mov.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 393137 entries, 8 to 10354679
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   imdb id         393137 non-null  object
 1   titleType       393137 non-null  object
 2   primaryTitle    393137 non-null  object
 3   originalTitle   393137 non-null  object
 4   isAdult         393137 non-null  object
 5   startYear       386497 non-null  float64
 6   endYear         0 non-null       object
 7   runtimeMinutes  393137 non-null  object
 8   genres          393137 non-null  object
dtypes: float64(1), object(8)
memory usage: 30.0+ MB

In [15]:
basics_year = basics_mov.loc[(basics_mov['startYear'] >= 2000) & (basics_mov['startYear'] <= 2022)]
basics_year

,imdb id,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
13081,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021.0,NaN,94,Documentary
34800,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61110,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67662,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
76050,tt0077684,movie,Histórias de Combóios em Portugal,Histórias de Combóios em Portugal,0,2022.0,NaN,46,Documentary
...,...,...,...,...,...,...,...,...,...
10354579,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019.0,NaN,123,Drama
10354620,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015.0,NaN,57,Documentary
10354647,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007.0,NaN,100,Documentary
10354669,tt9916730,movie,6 Gunn,6 Gunn,0,2017.0,NaN,116,Drama
10354679,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013.0,NaN,49,Documentary

#### Eliminate movies that include "Documentary" in genre

In [16]:
doc = basics_year['genres'].str.contains('Documentary',case=False)
basics_doc = basics_year[~doc]

In [17]:
basics_doc.head()

,imdb id,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34800,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61110,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67662,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
80547,tt0082328,movie,Embodiment of Evil,Encarnação do Demônio,0,2008.0,NaN,94,Horror
86789,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"

In [18]:
basics_doc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148934 entries, 34800 to 10354669
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   imdb id         148934 non-null  object
 1   titleType       148934 non-null  object
 2   primaryTitle    148934 non-null  object
 3   originalTitle   148934 non-null  object
 4   isAdult         148934 non-null  object
 5   startYear       148934 non-null  float64
 6   endYear         0 non-null       object
 7   runtimeMinutes  148934 non-null  object
 8   genres          148934 non-null  object
dtypes: float64(1), object(8)
memory usage: 11.4+ MB

### AKA

#### keep only US movies

In [19]:
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)

In [20]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [21]:
akas_us = akas[akas['region']== 'US']
akas_us.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,\N,imdbDisplay,\N,0
14,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,\N,imdbDisplay,\N,0
36,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0
41,tt0000005,6,Blacksmith Scene #1,US,\N,alternative,\N,0

#### Replace '\N' with np.nan

In [22]:
akas_us = akas_us.replace({'\\N':np.nan})

In [23]:
akas_us.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0

In [24]:
akas_us.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1480271 entries, 5 to 37939927
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1480271 non-null  object
 1   ordering         1480271 non-null  int64
 2   title            1480271 non-null  object
 3   region           1480271 non-null  object
 4   language         4251 non-null     object
 5   types            986304 non-null   object
 6   attributes       47828 non-null    object
 7   isOriginalTitle  1478930 non-null  object
dtypes: int64(1), object(7)
memory usage: 101.6+ MB

In [25]:
# Change tconst to imdb id
akas_us =akas_us.rename(columns={'titleId':'imdb id'})
akas_us.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1480271 entries, 5 to 37939927
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   imdb id          1480271 non-null  object
 1   ordering         1480271 non-null  int64
 2   title            1480271 non-null  object
 3   region           1480271 non-null  object
 4   language         4251 non-null     object
 5   types            986304 non-null   object
 6   attributes       47828 non-null    object
 7   isOriginalTitle  1478930 non-null  object
dtypes: int64(1), object(7)
memory usage: 101.6+ MB

### Ratings

In [26]:
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)

In [27]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      2007
1  tt0000002            5.8       270
2  tt0000003            6.5      1919
3  tt0000004            5.5       178
4  tt0000005            6.2      2696

#### Replace '\N' with np.nan

In [28]:
ratings = ratings.replace({'\\N':np.nan})

In [29]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1374350 entries, 0 to 1374349
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1374350 non-null  object
 1   averageRating  1374350 non-null  float64
 2   numVotes       1374350 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 31.5+ MB

In [30]:
# Change tconst to imdb id
ratings = ratings.rename(columns={'tconst':'imdb id'})
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1374350 entries, 0 to 1374349
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   imdb id        1374350 non-null  object
 1   averageRating  1374350 non-null  float64
 2   numVotes       1374350 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 31.5+ MB

### Filtered one dataset with another

#### Basics

In [31]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers1 =basics_doc['imdb id'].isin(akas_us['imdb id'])
keepers1

34800        True
61110        True
67662        True
80547        True
86789        True
            ...
10354411     True
10354450    False
10354495     True
10354579    False
10354669    False
Name: imdb id, Length: 148934, dtype: bool

In [32]:
basics_a = basics_doc.loc[keepers1]
basics_a

,imdb id,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34800,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61110,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67662,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
80547,tt0082328,movie,Embodiment of Evil,Encarnação do Demônio,0,2008.0,NaN,94,Horror
86789,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...,...,...,...,...
10353868,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama
10354262,tt9915872,movie,The Last White Witch,Boku no kanojo wa mahoutsukai,0,2019.0,NaN,97,"Comedy,Drama,Fantasy"
10354402,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama
10354411,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller"
10354495,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"

#### Ratings

In [33]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =ratings['imdb id'].isin(akas_us['imdb id'])
keepers

0           True
1           True
2          False
3          False
4           True
           ...
1374345    False
1374346    False
1374347    False
1374348    False
1374349    False
Name: imdb id, Length: 1374350, dtype: bool

In [34]:
basics_n = ratings.loc[keepers]
basics_n

           imdb id  averageRating  numVotes
0        tt0000001            5.7      2007
1        tt0000002            5.8       270
4        tt0000005            6.2      2696
5        tt0000006            5.0       183
6        tt0000007            5.4       844
...            ...            ...       ...
1374312  tt9916200            8.1       238
1374313  tt9916204            8.2       275
1374320  tt9916348            8.3        18
1374321  tt9916362            6.4      5625
1374326  tt9916428            3.5        17

[515708 rows x 3 columns]

## Export data

In [35]:
## Save current dataframe to file.
basics_a.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [36]:
basics_f = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics_f.head()

,imdb id,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0082328,movie,Embodiment of Evil,Encarnação do Demônio,0,2008.0,NaN,94,Horror
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"

In [37]:
basics_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87588 entries, 0 to 87587
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   imdb id         87588 non-null  object
 1   titleType       87588 non-null  object
 2   primaryTitle    87588 non-null  object
 3   originalTitle   87588 non-null  object
 4   isAdult         87588 non-null  int64
 5   startYear       87588 non-null  float64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  87588 non-null  int64
 8   genres          87588 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 6.0+ MB

In [38]:
## Save current dataframe to file.
akas_us.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)

In [39]:
# Open saved file and preview again
akas_f = pd.read_csv("Data/title_akas.csv.gz", low_memory = False)
akas_f.head()

,imdb id,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0

In [40]:
## Save current dataframe to file.
basics_n.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [41]:
# Open saved file and preview again
ratings_f = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
ratings_f.head()

     imdb id  averageRating  numVotes
0  tt0000001            5.7      2007
1  tt0000002            5.8       270
2  tt0000005            6.2      2696
3  tt0000006            5.0       183
4  tt0000007            5.4       844

In [42]:
# example making new folder with os
import os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

['.ipynb_checkpoints',
 'title_akas.csv.gz',
 'title_basics.csv.gz',
 'title_ratings.csv.gz']

## Data was collected from TMBD
https://www.themoviedb.org/about/logos-attribution