# Part 4

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats
import warnings
warnings.filterwarnings('ignore')

### Question
The stakeholder's first question is: does the MPAA rating of a movie (G/PG/PG-13/R) affect how much revenue the movie generates?

In [2]:
# imports
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
from urllib.parse import quote_plus as urlquote
# Create connection string using credentials following this format

In [3]:
## Checking what data we already in our Data folder using os.listdir
import os
FOLDER = 'Data/'
file_list = sorted(os.listdir(FOLDER))
file_list

['.ipynb_checkpoints',
 'final_tmdb_data_2001.csv.gz',
 'final_tmdb_data_2002.csv.gz',
 'final_tmdb_data_2003.csv.gz',
 'final_tmdb_data_2004.csv.gz',
 'final_tmdb_data_2005.csv.gz',
 'final_tmdb_data_2006.csv.gz',
 'final_tmdb_data_2007.csv.gz',
 'final_tmdb_data_2008.csv.gz',
 'final_tmdb_data_2009.csv.gz',
 'final_tmdb_data_2010.csv.gz',
 'title_akas.csv.gz',
 'title_basics.csv.gz',
 'title_ratings.csv.gz',
 'tmdb_api_results_2001.json',
 'tmdb_api_results_2002.json',
 'tmdb_api_results_2003.json',
 'tmdb_api_results_2004.json',
 'tmdb_api_results_2005.json',
 'tmdb_api_results_2006.json',
 'tmdb_api_results_2007.json',
 'tmdb_api_results_2008.json',
 'tmdb_api_results_2009.json',
 'tmdb_api_results_2010.json',
 'tmdb_results_combined.csv.gz']

In [4]:
## let's check the filepath 
file_list[2]

'final_tmdb_data_2002.csv.gz'

In [5]:
## add the folder plus filename
FOLDER+ file_list[2]

'Data/final_tmdb_data_2002.csv.gz'

In [17]:
import glob
## Make a filepath query
q = FOLDER+'final*.csv.gz'
print(q)
file_list = sorted(glob.glob(q,recursive=True))
file_list

Data/final*.csv.gz

['Data\\final_tmdb_data_2001.csv.gz',
 'Data\\final_tmdb_data_2002.csv.gz',
 'Data\\final_tmdb_data_2003.csv.gz',
 'Data\\final_tmdb_data_2004.csv.gz',
 'Data\\final_tmdb_data_2005.csv.gz',
 'Data\\final_tmdb_data_2006.csv.gz',
 'Data\\final_tmdb_data_2007.csv.gz',
 'Data\\final_tmdb_data_2008.csv.gz',
 'Data\\final_tmdb_data_2009.csv.gz',
 'Data\\final_tmdb_data_2010.csv.gz']

In [26]:
from pathlib import Path
p= Path('Data/')
[x for x in p.interdir() if x.is_dir()]
list(p.glob('Data/final*.csv.gz'))

AttributeError: 'WindowsPath' object has no attribute 'interdir'

In [25]:
from pathlib import Path
base = Path('Data/')
files = base.glob("final*.cvs.gz")
files

In [ ]:
from pathlib import Path

directory = Path("Data/")

file_name = "i22-636027_saxs_Transmission_IvsQ_processed.nxs"
background_name = "i22-637014_saxs_Transmission_IvsQ_processed.nxs"

file_path = directory / file_name
background_path = directory / background_name

file_list = sorted(directory.glob("*saxs_Transmission_IvsQ_processed.nxs"))

In [24]:
## use a list comprehension to load in all files into 1 dataframe
df = pd.concat([pd.read_csv(f,lineterminator='\n') for f in files])
df

ValueError: No objects to concatenate

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18670 entries, 0 to 2755
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                18670 non-null  object
 1   adult                  18660 non-null  float64
 2   backdrop_path          10505 non-null  object
 3   belongs_to_collection  1405 non-null   object
 4   budget                 18660 non-null  float64
 5   genres                 18660 non-null  object
 6   homepage               3548 non-null   object
 7   id                     18660 non-null  float64
 8   original_language      18660 non-null  object
 9   original_title         18660 non-null  object
 10  overview               18215 non-null  object
 11  popularity             18660 non-null  float64
 12  poster_path            16496 non-null  object
 13  production_companies   18660 non-null  object
 14  production_countries   18660 non-null  object
 15  release_date           18300 non-null  object
 16  revenue                18660 non-null  float64
 17  runtime                18660 non-null  float64
 18  spoken_languages       18660 non-null  object
 19  status                 18660 non-null  object
 20  tagline                7844 non-null   object
 21  title                  18660 non-null  object
 22  video                  18660 non-null  float64
 23  vote_average           18660 non-null  float64
 24  vote_count             18660 non-null  float64
         18670 non-null  object
dtypes: float64(9), object(17)
memory usage: 3.8+ MB

In [8]:
df = df.drop(columns=['averageRating','numVotes\r','runtimeMinutes'])
df

,imdb id,primaryTitle,startYear,genres\r
0,tt0035423,Kate & Leopold,2001.0,"Comedy,Fantasy,Romance\r"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,Drama\r
2,tt0068865,Lives of Performers,2016.0,Drama\r
3,tt0069049,The Other Side of the Wind,2018.0,Drama\r
4,tt0082328,Embodiment of Evil,2008.0,Horror\r
...,...,...,...,...
513261,tt9916200,NaN,NaN,NaN
513262,tt9916204,NaN,NaN,NaN
513263,tt9916348,NaN,NaN,NaN
513264,tt9916362,NaN,NaN,NaN
513265,tt9916428,NaN,NaN,NaN

In [9]:
#df["movie id"] = df['imdb id'].astype(str)
#df

In [10]:
#df = df.dropna(subset=['movie id'])
#df

In [11]:
# remove nan from concattenated column
df['imdb id'].fillna('', inplace=True)
df

,imdb id,primaryTitle,startYear,genres\r
0,tt0035423,Kate & Leopold,2001.0,"Comedy,Fantasy,Romance\r"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,Drama\r
2,tt0068865,Lives of Performers,2016.0,Drama\r
3,tt0069049,The Other Side of the Wind,2018.0,Drama\r
4,tt0082328,Embodiment of Evil,2008.0,Horror\r
...,...,...,...,...
513261,tt9916200,NaN,NaN,NaN
513262,tt9916204,NaN,NaN,NaN
513263,tt9916348,NaN,NaN,NaN
513264,tt9916362,NaN,NaN,NaN
513265,tt9916428,NaN,NaN,NaN

In [12]:
# remove ids that are 0
df = df.loc[ df['imdb id']!='0']
df

,imdb id,primaryTitle,startYear,genres\r
0,tt0035423,Kate & Leopold,2001.0,"Comedy,Fantasy,Romance\r"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,Drama\r
2,tt0068865,Lives of Performers,2016.0,Drama\r
3,tt0069049,The Other Side of the Wind,2018.0,Drama\r
4,tt0082328,Embodiment of Evil,2008.0,Horror\r
...,...,...,...,...
513261,tt9916200,NaN,NaN,NaN
513262,tt9916204,NaN,NaN,NaN
513263,tt9916348,NaN,NaN,NaN
513264,tt9916362,NaN,NaN,NaN
513265,tt9916428,NaN,NaN,NaN

In [13]:
df = df.reset_index(drop=True)
df

,imdb id,primaryTitle,startYear,genres\r
0,tt0035423,Kate & Leopold,2001.0,"Comedy,Fantasy,Romance\r"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,Drama\r
2,tt0068865,Lives of Performers,2016.0,Drama\r
3,tt0069049,The Other Side of the Wind,2018.0,Drama\r
4,tt0082328,Embodiment of Evil,2008.0,Horror\r
...,...,...,...,...
600671,tt9916200,NaN,NaN,NaN
600672,tt9916204,NaN,NaN,NaN
600673,tt9916348,NaN,NaN,NaN
600674,tt9916362,NaN,NaN,NaN
600675,tt9916428,NaN,NaN,NaN

In [14]:
## saving the combined csv to disk
df.to_csv(FOLDER+'combined_tmdb_data.csv.gz',compression='gzip',index=False)

df = pd.read_csv(FOLDER+'combined_tmdb_data.csv.gz',lineterminator='\n')
df

,imdb id,primaryTitle,startYear,genres\r\r
0,tt0035423,Kate & Leopold,2001.0,"Comedy,Fantasy,Romance\r\r"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,Drama\r\r
2,tt0068865,Lives of Performers,2016.0,Drama\r\r
3,tt0069049,The Other Side of the Wind,2018.0,Drama\r\r
4,tt0082328,Embodiment of Evil,2008.0,Horror\r\r
...,...,...,...,...
600671,tt9916200,NaN,NaN,\r
600672,tt9916204,NaN,NaN,\r
600673,tt9916348,NaN,NaN,\r
600674,tt9916362,NaN,NaN,\r
600675,tt9916428,NaN,NaN,\r

In [16]:
import json
with open('/Users/miran/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [17]:
connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/tmdb"

In [18]:
# create sqlite engine for a database called schools
engine = create_engine(connection)
# create connection to engine
conn = engine.connect()

In [19]:
database_exists(connection)

True

In [20]:
## Check if database exists, if not, create it
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print('Database created!')

It exists!

In [22]:
tmdb.to_sql('tmdb', engine, if_exists = 'replace')

NameError: name 'tmdb' is not defined

In [ ]:
q = """SELECT * FROM tmdb;"""
pd.read_sql(q, engine)

In [ ]:
q = '''SHOW TABLES'''
pd.read_sql(q,engine)