# Rating vs Profit

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('display.max_column', None)
import warnings
warnings.filterwarnings('ignore')

### Concatenate the data into 1 dataframe for the remainder of the analysis.

In [2]:
year_2000 = pd.read_csv('Data/final_tmdb_data_2000.csv.gz')
year_2001 = pd.read_csv('Data/final_tmdb_data_2001.csv.gz')

In [3]:
df = pd.concat([year_2000, year_2001])
df.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,Two rural teens sing and dance their way throu...,2.271,/hfO64mXz3DgUxkBVU7no2UWRP7x.jpg,"[{'id': 51207, 'logo_path': None, 'name': 'Sul...","[{'iso_3166_1': 'US', 'name': 'United States o...",2000-09-22,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,Earth is in a state of constant war and two co...,2.345,/h9bWO13nWRGZJo4XVPiElXyrRMU.jpg,"[{'id': 7405, 'logo_path': '/rfnws0uY8rsNAsrLb...","[{'iso_3166_1': 'US', 'name': 'United States o...",2000-11-15,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.100,8.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,"After falling prey to underworld, four friends...",1.376,/yB5wRu4uyXXwZA3PEj8cITu0xt3.jpg,[],"[{'iso_3166_1': 'IN', 'name': 'India'}]",2000-04-14,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.000,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,Two neighbors become intimate after discoverin...,25.446,/iYypPT4bhqXfq1b6EnmxvRt6b2Y.jpg,"[{'id': 539, 'logo_path': '/iPLtePguIzOPNtAWfT...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",2000-09-29,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.119,2202.0,PG

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2570 entries, 0 to 1332
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2570 non-null   object
 1   adult                  2568 non-null   float64
 2   backdrop_path          1400 non-null   object
 3   belongs_to_collection  205 non-null    object
 4   budget                 2568 non-null   float64
 5   genres                 2568 non-null   object
 6   homepage               172 non-null    object
 7   id                     2568 non-null   float64
 8   original_language      2568 non-null   object
 9   original_title         2568 non-null   object
 10  overview               2518 non-null   object
 11  popularity             2568 non-null   float64
 12  poster_path            2310 non-null   object
 13  production_companies   2568 non-null   object
 14  production_countries   2568 non-null   object
 15  release_date           2549 non-null   object
 16  revenue                2568 non-null   float64
 17  runtime                2568 non-null   float64
 18  spoken_languages       2568 non-null   object
 19  status                 2568 non-null   object
 20  tagline                1103 non-null   object
 21  title                  2568 non-null   object
 22  video                  2568 non-null   float64
 23  vote_average           2568 non-null   float64
 24  vote_count             2568 non-null   float64
 25  certification          816 non-null    object
dtypes: float64(9), object(17)
memory usage: 542.1+ KB

In [5]:
df.duplicated().sum()

1

In [6]:
df.drop_duplicates(inplace=True)

### How many movies had at least some valid financial information (values > 0 for budget OR revenue)?

In [7]:
# budget = df['budget'] > 0
# revenue = df['revenue'] > 0
# financial_filter = df.loc[budget | revenue]
filter_financial = (df['budget'] > 0) | (df['revenue']>0)
filter_financial.value_counts()

False    1932
True      637
dtype: int64

In [8]:
len(filter_financial)

2569

In [9]:
df['Profit'] = df['revenue'] - df['budget']
print(df)

        imdb_id  adult                     backdrop_path  \
0             0    NaN                               NaN
1     tt0113026    0.0  /vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg
2     tt0113092    0.0                               NaN
3     tt0116391    0.0                               NaN
4     tt0118694    0.0  /n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg
...         ...    ...                               ...
1328  tt7797670    0.0                               NaN
1329  tt7797790    0.0                               NaN
1330  tt8665056    0.0                               NaN
1331  tt8795764    0.0                               NaN
1332  tt9071078    0.0                               NaN

     belongs_to_collection      budget  \
0                      NaN         NaN
1                      NaN  10000000.0
2                      NaN         0.0
3                      NaN         0.0
4                      NaN    150000.0
...                    ...         ...
1328                   NaN         0.0
1329                   NaN         0.0
1330                   NaN         0.0
1331                   NaN         0.0
1332                   NaN         0.0

                                                 genres  \
0                                                   NaN
1     [{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...
2              [{'id': 878, 'name': 'Science Fiction'}]
3     [{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...
4     [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
...                                                 ...
1328                     [{'id': 27, 'name': 'Horror'}]
1329                     [{'id': 27, 'name': 'Horror'}]
1330                    [{'id': 37, 'name': 'Western'}]
1331                     [{'id': 27, 'name': 'Horror'}]
1332                     [{'id': 28, 'name': 'Action'}]

                                               homepage        id  \
0                                                   NaN       NaN
1                                                   NaN   62127.0
2                                                   NaN  110977.0
3                                                   NaN  442869.0
4                                                   NaN     843.0
...                                                 ...       ...
1328                                                NaN  956214.0
1329                                                NaN  956219.0
1330  http://skeletoncreekproductions.com/p-movie-br...  885436.0
1331  https://www.utahwolf.com/films/coming-soon-new...  871624.0
1332                                                NaN  201706.0

     original_language                              original_title  \
0                  NaN                                         NaN
1                   en                             The Fantasticks
2                   en                               For the Cause
3                   hi                                        Gang
4                   cn                                        花樣年華
...                ...                                         ...
1328                en  Edmund Kemper Part 2: La Mort C'est La Vie
1329                en         Edmund Kemper Part 3: La mort sévit
1330                en                        Guns Along The Bravo
1331                en                                   New Breed
1332                cn                                        致命密函

                                               overview  popularity  \
0                                                   NaN         NaN
1     Two rural teens sing and dance their way throu...       2.271
2     Earth is in a state of constant war and two co...       2.345
3     After falling prey to underworld, four friends...       1.376
4     Two neighbors become intimate after discoverin...      25.446
...                                                 ...         ...
1328           Underground French necrophilia nastiness       0.600
1329           Underground French necrophilia nastiness       1.091
1330  In the 1880's a ruthess gang of outlaws terroi...       0.600
1331  Derek gets sucked into a gothic cult that turn...       0.600
1332  A good-natured kung fu kid gets caught up in c...       1.400

                           poster_path  \
0                                  NaN
1     /hfO64mXz3DgUxkBVU7no2UWRP7x.jpg
2     /h9bWO13nWRGZJo4XVPiElXyrRMU.jpg
3     /yB5wRu4uyXXwZA3PEj8cITu0xt3.jpg
4     /iYypPT4bhqXfq1b6EnmxvRt6b2Y.jpg
...                                ...
1328  /2Xh5ywVZJC5OxKYDS26fVJfC8zq.jpg
1329  /75kV4BpVnXe2kAMsWAKxx466M88.jpg
1330                               NaN
1331  /goddglRmgDgQuo9tlMdoeeHlRfX.jpg
1332  /aO5ZupdPuOyIhHbhZCHzldh2Dvp.jpg

                                   production_companies  \
0                                                   NaN
1     [{'id': 51207, 'logo_path': None, 'name': 'Sul...
2     [{'id': 7405, 'logo_path': '/rfnws0uY8rsNAsrLb...
3                                                    []
4     [{'id': 539, 'logo_path': '/iPLtePguIzOPNtAWfT...
...                                                 ...
1328  [{'id': 139554, 'logo_path': None, 'name': 'Am...
1329  [{'id': 139554, 'logo_path': None, 'name': 'Am...
1330  [{'id': 68934, 'logo_path': None, 'name': 'Ske...
1331  [{'id': 133614, 'logo_path': None, 'name': 'Wo...
1332  [{'id': 13958, 'logo_path': '/yblRwoxf2sGIzzWV...

                                   production_countries release_date  \
0                                                   NaN          NaN
1     [{'iso_3166_1': 'US', 'name': 'United States o...   2000-09-22
2     [{'iso_3166_1': 'US', 'name': 'United States o...   2000-11-15
3               [{'iso_3166_1': 'IN', 'name': 'India'}]   2000-04-14
4     [{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...   2000-09-29
...                                                 ...          ...
1328           [{'iso_3166_1': 'FR', 'name': 'France'}]   2001-01-01
1329           [{'iso_3166_1': 'FR', 'name': 'France'}]   2001-01-01
1330  [{'iso_3166_1': 'US', 'name': 'United States o...   2001-10-10
1331  [{'iso_3166_1': 'US', 'name': 'United States o...   2001-01-01
1332        [{'iso_3166_1': 'HK', 'name': 'Hong Kong'}]   2001-07-12

         revenue  runtime                                   spoken_languages  \
0            NaN      NaN                                                NaN
1            0.0     86.0  [{'english_name': 'English', 'iso_639_1': 'en'...
2            0.0    100.0  [{'english_name': 'English', 'iso_639_1': 'en'...
3            0.0    152.0  [{'english_name': 'Hindi', 'iso_639_1': 'hi', ...
4     12854953.0     99.0  [{'english_name': 'Cantonese', 'iso_639_1': 'c...
...          ...      ...                                                ...
1328         0.0     91.0                                                 []
1329         0.0     72.0  [{'english_name': 'French', 'iso_639_1': 'fr',...
1330         0.0     85.0                                                 []
1331         0.0     57.0  [{'english_name': 'English', 'iso_639_1': 'en'...
1332         0.0     90.0  [{'english_name': 'Cantonese', 'iso_639_1': 'c...

        status                                            tagline  \
0          NaN                                                NaN
1     Released      Try to remember the first time magic happened
2     Released       The ultimate showdown on a forbidden planet.
3     Released                                                NaN
4     Released  Feel the heat, keep the feeling burning, let t...
...        ...                                                ...
1328  Released                                                NaN
1329  Released                                                NaN
1330  Released  Evil came to the Southwest until three blazing...
1331  Released                                                NaN
1332  Released                                                NaN

                                           title  video  vote_average  \
0                                            NaN    NaN           NaN
1                                The Fantasticks    0.0         5.500
2                                  For the Cause    0.0         5.100
3                                           Gang    0.0         4.000
4                           In the Mood for Love    0.0         8.119
...                                          ...    ...           ...
1328  Edmund Kemper Part 2: La Mort C'est La Vie    0.0         0.000
1329         Edmund Kemper Part 3: La mort sévit    0.0         0.000
1330                        Guns Along The Bravo    0.0         0.000
1331                                   New Breed    0.0         0.000
1332                              Chinese Heroes    0.0         3.000

      vote_count certification      Profit
0            NaN           NaN         NaN
1           22.0           NaN -10000000.0
2            8.0           NaN         0.0
3            1.0           NaN         0.0
4         2202.0            PG  12704953.0
...          ...           ...         ...
1328         0.0           NaN         0.0
1329         0.0           NaN         0.0
1330         0.0           NaN         0.0
1331         0.0            NR         0.0
1332         2.0           NaN         0.0

[2569 rows x 27 columns]

In [10]:
df.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification,Profit
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,Two rural teens sing and dance their way throu...,2.271,/hfO64mXz3DgUxkBVU7no2UWRP7x.jpg,"[{'id': 51207, 'logo_path': None, 'name': 'Sul...","[{'iso_3166_1': 'US', 'name': 'United States o...",2000-09-22,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN,-10000000.0
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,Earth is in a state of constant war and two co...,2.345,/h9bWO13nWRGZJo4XVPiElXyrRMU.jpg,"[{'id': 7405, 'logo_path': '/rfnws0uY8rsNAsrLb...","[{'iso_3166_1': 'US', 'name': 'United States o...",2000-11-15,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.100,8.0,NaN,0.0
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,"After falling prey to underworld, four friends...",1.376,/yB5wRu4uyXXwZA3PEj8cITu0xt3.jpg,[],"[{'iso_3166_1': 'IN', 'name': 'India'}]",2000-04-14,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.000,1.0,NaN,0.0
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,Two neighbors become intimate after discoverin...,25.446,/iYypPT4bhqXfq1b6EnmxvRt6b2Y.jpg,"[{'id': 539, 'logo_path': '/iPLtePguIzOPNtAWfT...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",2000-09-29,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.119,2202.0,PG,12704953.0

In [11]:
df = df.drop(columns=['backdrop_path','adult','id','popularity','belongs_to_collection','genres','homepage','original_language',
                 'original_title','overview','poster_path','production_companies','production_countries',
                 'release_date','runtime','spoken_languages','status','tagline','video','vote_average', 
                'vote_count'])
df.head()

,imdb_id,budget,revenue,title,certification,Profit
0,0,NaN,NaN,NaN,NaN,NaN
1,tt0113026,10000000.0,0.0,The Fantasticks,NaN,-10000000.0
2,tt0113092,0.0,0.0,For the Cause,NaN,0.0
3,tt0116391,0.0,0.0,Gang,NaN,0.0
4,tt0118694,150000.0,12854953.0,In the Mood for Love,PG,12704953.0

In [12]:
Profited = df['Profit'] >= 1
df[Profited].head()

,imdb_id,budget,revenue,title,certification,Profit
4,tt0118694,150000.0,12854953.0,In the Mood for Love,PG,12704953.0
10,tt0120263,0.0,80334.0,Songs from the Second Floor,NaN,80334.0
13,tt0120630,45000000.0,224834564.0,Chicken Run,G,179834564.0
17,tt0120755,125000000.0,546388105.0,Mission: Impossible II,PG-13,421388105.0
18,tt0120903,75000000.0,296339527.0,X-Men,PG-13,221339527.0

In [13]:
profit_df = df[Profited].copy()

In [14]:
profit_df.dropna(subset =['certification'], inplace = True)

In [15]:
profit_group = profit_df.groupby('certification')['Profit'].sum()
profit_group

certification
G        1.201871e+09
NR       8.215306e+07
PG       2.595162e+09
PG-13    8.298367e+09
R        4.479870e+09
Name: Profit, dtype: float64

In [16]:
profit_df['certification'].info()

<class 'pandas.core.series.Series'>
Int64Index: 242 entries, 4 to 962
Series name: certification
Non-Null Count  Dtype
--------------  -----
242 non-null    object
dtypes: object(1)
memory usage: 3.8+ KB

In [17]:
G = profit_df[profit_df['certification'] == "G"]['Profit'].sum()
PG = profit_df[profit_df['certification'] == "PG"]['Profit'].sum()
PG_13 = profit_df[profit_df['certification'] == "PG-13"]['Profit'].sum()
R =profit_df[profit_df['certification'] == "R"]['Profit'].sum()
NR =profit_df[profit_df['certification'] == "NR"]['Profit'].sum()
print (G,PG,PG_13,R,NR)

1201870893.0 2595162177.0 8298367197.0 4479870451.0 82153060.0

In [18]:
profit_df['certification'] = profit_df['certification'].astype(str)

In [19]:
#rating_df = profit_df[profit_group].copy()

# Create a bar plot

In [20]:
## Visualize years
ax = sns.countplot(G,PG,PG_13,R,NR, x='certification')
fig = ax.get_figure()

TypeError: countplot() takes from 0 to 1 positional arguments but 5 positional arguments (and 1 keyword-only argument) were given

In [ ]:
import matplotlib.ticker as mticker

Rating = profit_df['certification']
Profit = profit_df['Profit']
 
fig, axes = plt.subplots( figsize = (10,5))

## Plot the Profit
plt.style.use('seaborn')
plt.bar(Rating, Profit)
# Function to format labels in millions and thousands
def millions_thousands_formatter(x, pos):
    if x >= 1e6:
        return f'{x/1e6:.0f}M'
    elif x >= 1e3:
        return f'{x/1e3:.0f}K'
    else:
        return f'{x:.0f}'

# Apply the formatter to the y-axis
plt.gca().yaxis.set_major_formatter(mticker.FuncFormatter(millions_thousands_formatter))

# Set labels
plt.xlabel('Rating', fontsize = 15)
plt.ylabel('Profit', fontsize = 15)
plt.title('Profit per Rating', fontsize = 20)
plt.tick_params(labelsize=12)

# Show the plot
plt.show()

In [ ]:
plt.style.use('seaborn')
fig, axes = plt.subplots( figsize = (15,10))

sns.barplot(data = profit_df, x = 'certification', y= 'Profit', errorbar=None)
plt.xlabel('Rating', fontsize = 20)
plt.ylabel('Profit', fontsize = 20)
plt.title('Profit per Rating', fontsize = 25, fontweight = 'bold')
plt.tick_params(labelsize=15)

plt.show()

### How many movies are there in each of the certification categories (G/PG/PG-13/R)?

In [ ]:
## to order them (optional)
cert_order = ['G','PG','PG-13','R','NR']

In [ ]:
sns.countplot(data=df, x='certification',order=cert_order);

### What is the average revenue per certification category?

In [ ]:
df.groupby(['certification'])['revenue'].apply(lambda x:x.mean())

In [ ]:
rev_cert = df([cert_order])[filter_financial].apply(lambda x:x.mean())
rev_cert

### What is the average budget per certification category?

In [ ]:
df.groupby(['certification'])['budget'].apply(lambda x:x.mean())

In [ ]:
## Save current dataframe to file.
df.to_csv("Data/tmdb_results_combined.csv.gz",compression='gzip',index=False)

In [ ]:
# Open saved file and preview again
final_combo = pd.read_csv("Data/tmdb_results_combined.csv.gz", low_memory = False)
final_combo.head()

In [ ]:
df.info()

## Data was collected from TMBD
https://www.themoviedb.org/about/logos-attribution