## Basics data frame

In [1]:
import pandas as pd
# load data - change the path to match your drive!
basics = pd.read_csv('Data/title_basics.csv.gz')
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86707 entries, 0 to 86706
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86707 non-null  object
 1   titleType       86707 non-null  object
 2   primaryTitle    86707 non-null  object
 3   originalTitle   86707 non-null  object
 4   isAdult         86707 non-null  int64
 5   startYear       86707 non-null  float64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  86707 non-null  int64
 8   genres          86707 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 6.0+ MB

### Removing unwanted columns from Basics

In [2]:
basics = basics.drop(columns=['titleType', 'originalTitle','isAdult','endYear'])
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86707 entries, 0 to 86706
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86707 non-null  object
 1   primaryTitle    86707 non-null  object
 2   startYear       86707 non-null  float64
 3   runtimeMinutes  86707 non-null  int64
 4   genres          86707 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 3.3+ MB

## Ratings Dataframe

In [3]:
ratings = pd.read_csv('Data/title_ratings.csv.gz')
ratings.head()
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499155 entries, 0 to 499154
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         499155 non-null  object
 1   averageRating  499155 non-null  float64
 2   numVotes       499155 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 11.4+ MB

## TMDB_API Dataframe

In [8]:
tmdb_api = pd.read_csv("Data/tmdb_results_combined.csv.gz")
tmdb_api.head()
tmdb_api.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2569 entries, 0 to 2568
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2569 non-null   object
 1   adult                  2568 non-null   float64
 2   backdrop_path          1400 non-null   object
 3   belongs_to_collection  205 non-null    object
 4   budget                 2568 non-null   float64
 5   genres                 2568 non-null   object
 6   homepage               172 non-null    object
 7   id                     2568 non-null   float64
 8   original_language      2568 non-null   object
 9   original_title         2568 non-null   object
 10  overview               2518 non-null   object
 11  popularity             2568 non-null   float64
 12  poster_path            2310 non-null   object
 13  production_companies   2568 non-null   object
 14  production_countries   2568 non-null   object
 15  release_date           2549 non-null   object
 16  revenue                2568 non-null   float64
 17  runtime                2568 non-null   float64
 18  spoken_languages       2568 non-null   object
 19  status                 2568 non-null   object
 20  tagline                1103 non-null   object
 21  title                  2568 non-null   object
 22  video                  2568 non-null   float64
 23  vote_average           2568 non-null   float64
 24  vote_count             2568 non-null   float64
 25  certification          816 non-null    object
dtypes: float64(9), object(17)
memory usage: 522.0+ KB

### remove unwanted columns

In [9]:
tmdb_api = tmdb_api.drop(columns=['adult', 'backdrop_path', 'belongs_to_collection', 'genres','homepage', 'id',
                                  'original_language', 'original_title', 'overview','popularity','poster_path',
                                  'production_companies', 'production_countries','release_date','runtime','spoken_languages',
                                  'status','tagline','title','video','vote_average','vote_count'])
tmdb_api.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2569 entries, 0 to 2568
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   imdb_id        2569 non-null   object
 1   budget         2568 non-null   float64
 2   revenue        2568 non-null   float64
 3   certification  816 non-null    object
dtypes: float64(2), object(2)
memory usage: 80.4+ KB

In [10]:
tmdb_api.head()

     imdb_id      budget     revenue certification
0          0         NaN         NaN           NaN
1  tt0113026  10000000.0         0.0           NaN
2  tt0113092         0.0         0.0           NaN
3  tt0116391         0.0         0.0           NaN
4  tt0118694    150000.0  12854953.0            PG

### Split genres

In [11]:
## adding expand=True
basics['genres_split'] = basics['genres'].str.split(',')
basics.head()

,tconst,primaryTitle,startYear,runtimeMinutes,genres,genres_split
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70,Drama,[Drama]
2,tt0069049,The Other Side of the Wind,2018.0,122,Drama,[Drama]
3,tt0088751,The Naked Monster,2005.0,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,Crime and Punishment,2002.0,126,Drama,[Drama]

In [16]:
type('genres_split')

str

In [13]:
## use .apply pd.Series to convert a dict to columns
genre = basics['genres_split'].apply(pd.Series)

'genres_split'

In [ ]:
## get the unique ids
unique_genres = sorted(basics['genres'].unique())
unique_genres[:2]

In [ ]:
## exploding the column of lists
exploded = basics.explode('genres_split')
exploded.head()
exploded.info()

In [ ]:
## saving the unique values from the exploded column
cols_to_make = exploded['genres_split'].dropna().unique()
cols_to_make

In [ ]:
## examining a single value from the coordinates col
genre = basics.loc[0,"genres"]
print(type(genre))
genre